$ber1: #14AD9F;
$ber2: #14AD9E;
$success: #4360AB;
$primary: #14AD9F;
$gradient1: linear-gradient(360deg, #14AD9F 3.8%, #55C4CB 47.73%, #425CA9 100%);
$fontfamily-base: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$img: '../img/';
$link-blue: $success;
$primary-hover: #3AFFEE;
$gray: #8C8C8C;
$gray-light: #BABABA;
$brand-gray: #F0FFFC;

$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1240px,
xxl: 1918px
);

$color-default: #4CAB98;
$color-hover: #4FEFE1;
$color-focus: #FABC13;
$color-active: #3AFFEE;
$color-disabled: #B1B1B1;

$transition: all .3s ease;

$link-arrow-hover: white;