<div class="picture-tooltip picture-tooltip--1">
  <img src="./img/event-screen.png" alt="Event" />

  <div
    class="type type1"
    style="left: 63px; top: 223px"
    data-tippy-content="Выберите картинку на своем устройстве и загрузите ее."
  ></div>

  <div
    class="type type2"
    style="top: 444px; left: 197px"
    data-tippy-content="Напишите название вашего проекта"
  ></div>

  <div
    class="type type3"
    style="top: 493px; left: 263px"
    data-tippy-content="Указывайте дату и время старта вашего проекта, с которого принимаются отчеты пользователей"
  ></div>

  <div
    class="type type4"
    style="top: 542px; left: 228px"
    data-tippy-content="Указывайте дату и время окончания вашего проекта, с которого прекратят приниматься отчеты пользователей"
  ></div>

  <div
    class="type"
    style="top: 589px;left: 268px;"
    data-tippy-content="Выберите из списка вашу команду, которая организует этот проект"
  ></div>

  <div
    class="type"
    style="top: 637px;left: 267px;"
    data-tippy-content="Укажите город, в котром проходит событие"
  ></div>

  <div
    class="type"
    style="top: 686px;left: 267px;"
    data-tippy-content="Укажите адрес проведения события"
  ></div>

  <div
    class="type"
    style="top: 842px;left: 200px;"
    data-tippy-content="Укажите: <br>
    • Краткое описание события <br>
    • Социальную значимость события <br>
    • Цель и задачи <br>
    • Механизм участия (подробно расскажите, как пользователи приложения могут принять участие в событии, что конкретно им нужно сделать) <br>
    • Описание отчета (что необходимо приложить к отчету – фото/видео/геометку/дату участия)"
  ></div>

  <div
    class="type"
    style="top: 1108px;left: 230px;"
    data-tippy-content="• Расскажи - для событий, где от участников требуется рассказать что-либо (Например, написать отзыв, заметку, статью на определенную тему) <br>

    • Участвуй - для событий, где необходимо участвовать в какой-либо деятельности (Например, посети лекцию о ЗОЖ) <br>
    
    • Сделай - для событий, где участнику необходимо совершить какое-либо действие (Например, сдать батарейки, убрать мусор, покрасить забор)
    "
  ></div>

  <div
    class="type"
    style="top: 1304px;left: 215px;"
    data-tippy-content='Активация этого переключателя требует обязательного прикрепления ссылки на пост в соц. сети в отчете. Для прикрепления ссылки нужно привязать к профилю в приложении "МЫ" вашу страничку в соц.сети.'
  ></div>

  <div
    class="type"
    style="top: 1347px;left: 142px;"
    data-tippy-content="Активация этого переключателя требует обязательного прикрепления фотографии или видеозаписи в отчете."
  ></div>

  <div
    class="type"
    style="top: 1387px;left: 178px;"
    data-tippy-content='Активация этого переключателя требует обязательного написания текстового описания в отчете (Например: "Сдал батарейки в спецприемник", "Покормил домашних животных")'
  ></div>

  <div
    class="type"
    style="top: 1429px;left: 218px;"
    data-tippy-content='ктивация этого переключателя требует обязательного прикрепления ссылки на пост в соц. сети в отчете. Для прикрепления ссылки нужно привязать к профилю в приложении "МЫ" вашу страничку в соц.сети.'
  ></div>

  <div
    class="type"
    style="top: 1536px;left: 262px;"
    data-tippy-content='Нажмите кнопку «Создать»'
  ></div>
</div>
