.list-none {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  transition: border, color 0.3s ease;
  &:hover {
    border-color: $color-hover;
    color: $color-hover;
  }

  &:focus {
    border-color: $color-focus;
    color: $color-focus;
  }

  &:active,
  &.active {
    border-color: $color-active;
    color: $color-active;
  }

  &:disabled,
  &.disabled {
    border-color: $color-disabled;
    color: $color-disabled;
  }
}

.black-links {
  a {
    text-decoration: none;
    color: white;

    &:hover {
      border-color: $color-hover;
      color: $color-hover;
    }

    &:focus {
      border-color: $color-focus;
      color: $color-focus;
    }

    &:active,
    &.active {
      border-color: $color-active;
      color: $color-active;
    }

    &:disabled,
    &.disabled {
      border-color: $color-disabled;
      color: $color-disabled;
    }
  }
}

.btn-app {
  display: inline-flex;
  background: white;
  border-bottom: 2px solid #D2D2D2;
  border-radius: 10px;
  height: 56px;
  width: 186px;
  padding: 13px;
  transition: all 0.3s ease;

  &--green {
    border-color: #4DAC99;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  &:hover {
    background-color: #d3fff7;
  }

  &:focus {
    background-color: #fabc13;
  }

  &:active,
  &.active {
    background-color: #bbfff9;
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
  }

  @media (max-width: 1200px) {
    width: 150px;
  }
}

.hidden {
  display: none;
}

