@media (max-width: 1200px) {
  .event-section {
    padding-top: 40px;
    margin-top: 0;
  }

  .menu {
    &__link {
      margin-left: 0;
    }
  }

  .header {
    & > .header__menu {
      display: block;
      .menu {
        display: flex;
        justify-content: center;
      }
    }

    &__menu {
      .menu {
        display: none;
      }
    }

    &__links {
      margin-left: 30px;
    }

    &__link {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  .whoami--rules {
    margin-top: 0;
    padding-top: 0;
  }

  .scores-block {
    &__picture {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    
      > img {
        height: 662px;
      }
    }
    &__cards {
      padding-top: 24px;
    }
  }

  .aboutcard--comand {
    .aboutcard__item {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .title-medium {
    font-size: 25px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .subtitle-medium {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
  }

  .eventitem {
    flex-direction: column;

    &__picture {
      padding: 40px 0 20px 0;
    }

    &__content {
      width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }

  .picture-tooltip {
    margin: 40px auto 0 auto;
  }

  .event-section--reverse {
    padding-top: 0;
  }

  .events-block--reverse {
    padding-top: 0;

    .eventitem {
      flex-direction: column;

      &__picture {
        padding-left: 0;
      }

      &__content {
        text-align: center;
        padding-right: 0;
      }
    }
  }

  .event-section--scores {
    position: static;
    padding-top: 40px;
  }

  .aboutcard {
    &--scores {
      .aboutcard__item {
        min-height: 300px;
      }
    }
  }

  .card-list__item {
    &.active {
      .card-info__text {
        display: block;
        font-size: 16px;
        font-weight: 400;
        padding: 0 0 0 20px;
      }
    }

    .card-list__text {
      font-size: 16px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .header {
    &__menu {
      display: block;
    }

    &__logo-block {
      width: 70px;
    }
  }

  .close,
  .burger {
    display: block;
    background: transparent;
    border: 0;
    transition: $transition;

    svg {
      fill: #fff;
      transition: $transition;
    }

    &:hover {
      svg {
        fill: $color-active;
      }
    }

    &:focus {
      svg {
        fill: $color-focus;
      }
    }

    &.ac &:active {
      svg {
        fill: $color-active;
      }
    }

    &:disabled,
    &.disabled {
      svg {
        fill: $color-disabled;
      }
    }
  }

  .close {
    display: none;
  }

  .banner {
    background: transparent;
    padding-bottom: 0;

    &--scores,
    &--rules,
    &--event {
      background-color: #14ad9f;
      background: linear-gradient(360deg, #14ad9f 3.8%, #55c4cb 47.73%, #425ca9 100%);

      .banner__picture {
        display: block;
      }

      .slogan {
        flex-direction: column;
        align-items: center;

        &__text {
          font-size: 16px;
        }
      }
    }
    &__picture {
      display: none;
    }

    &--scores,
    &--rules,
    &--event {
      .banner__picture {
        right: -20px;
      }
    }
  }

  .prizes-block {
    margin-bottom: 0;
    &__item {
      margin-bottom: 60px;
    }
  }

  .event-section {
    .container {
      padding-bottom: 0;
    }
  }

  .section-group {
    background: linear-gradient(360deg, #14ad9f 3.8%, #55c4cb 47.73%, #425ca9 100%);
  }

  .profit-slogan {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 80px;
    max-width: 340px;

    &__small {
      font-size: 21px;
      white-space: nowrap;
      line-height: 1;
    }

    &__head {
      font-size: 32px;
      font-weight: bold;
      white-space: nowrap;
      line-height: 1;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__left {
      img {
        width: 100%;
      }
    }

    &__right,
    &__left {
      width: calc(60% - 10px);
    }

    &__left {
      width: calc(40% - 10px);
    }

    &__text {
      font-size: 21px;
      line-height: 1.1;
      margin-bottom: 20px;
    }

    &__arrow {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .profit {
    margin-top: 40px;

    &__slogan-table {
      display: block;

      .profit-slogan {
        max-width: 100%;

        &__left {
          padding-right: 10px;
        }

        &__right {
          justify-content: space-between;
        }

        &__header {
          padding-bottom: 25px;
        }

        &__text {
          font-size: 42px;
          white-space: nowrap;
        }

        &__arrow {
          max-width: 100%;
          img {
            display: block;
            margin: auto;
            width: 64%;
          }
        }

        &__small {
          white-space: nowrap;
          font-size: 78px;
        }

        &__head {
          white-space: nowrap;
          font-size: 109px;
        }
      }
    }

    &__banner {
      display: block;
      padding-bottom: 25px;
      margin-top: -20px;
      width: 58%;

      img {
        display: block;
        margin: auto;
        width: 358px;
      }
    }

    &__list {
      flex-direction: column;
    }

    &__picture-block {
      width: 80px;
      height: 80px;
      top: -40px;
    }

    &__item {
      padding-top: 50px;
      margin-bottom: 60px;
      border-color: rgba(255, 255, 255, 0.7);
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  section .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title-large {
    font-size: 60px;
    margin-bottom: 40px;
  }

  .whoami {
    padding-top: 60px;

    &--rules {
      .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--second {
      padding-bottom: 40px;
    }

    &__content {
      flex-direction: column;

      &.container {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__tabs {
      width: 100%;
      padding-left: 0;
      display: none;
    }

    .card-list {
      width: 100%;

      &__item {
        .card-info {
          &__text {
            background-color: #f0fffc;
            padding: 40px 38px;
          }
        }
      }

      &__text {
        font-weight: 700;
        background-color: #f0fffc;
      }
    }

    .title-large {
      margin-bottom: 60px;
    }
  }

  .card-list {
    &:before {
      display: none;
    }

    &__item {
      padding: 0;
      border-top: 1px solid white;
      border-bottom: 3px solid white;

      .card-list__text {
        padding: 25px;
      }

      &.active {
        background: transparent;
        color: white;

        .card-info {
          display: flex;
        }

        .card-list__text {
          padding: 25px;
          background: linear-gradient(270.19deg, #4cab98 3.31%, #55c4cb 48.55%, #425ca9 102.37%),
            #4dac99;
          border-radius: 20px 20px 0px 0px;
        }

        .card-info__text {
          color: black;
        }
      }
    }
  }

  .card-info {
    padding: 18px;
    text-align: left;

    &.active {
      display: flex;
    }

    &__picture {
      min-width: 0;
      max-width: 70px;
      width: 100%;
      padding-bottom: 0;
    }

    &__text {
      padding: 20px 0 0 0;
    }
  }

  .rowcard {
    margin-bottom: 60px;

    &__picture {
      margin-bottom: 60px;
      margin-right: 0;
    }
    &__content {
      padding-left: 0;
    }
    &__title {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 60px;
    }
  }

  .aboutcard {
    &__picture {
      width: 90px;
      height: 90px;
      margin-bottom: 15px;
    }
    &__name {
      font-size: 17px;
      margin-bottom: 15px;
    }

    &__subtext {
      font-size: 15px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 15px;
    }

    &__item {
      padding: 15px;
      min-height: 490px;
      max-width: 100%;
      width: 100%;
    }

    &--mobile {
      display: flex;
    }

    &--desktop {
      display: none;
    }
  }

  .join {
    .subtitle {
      margin-bottom: 40px;
    }
  }

  .joinrow {
    &__link {
      max-width: 150px;
    }

    &__apps {
      flex-wrap: wrap;
    }
  }

  .footer {
    &__logo {
      margin-right: 40px;
      max-width: 70px;
    }

    &__title {
      font-size: 11px;
    }

    a {
      font-size: 11px;
    }
  }

  .about {
    overflow: hidden;

    .swiper {
      overflow: visible;
    }
  }

  .aboutcard--comands {
    .aboutcard__item {
      max-width: calc(50% - 10px);
    }
  }

  .banner {
    &--comand {
      margin-bottom: 0;
      background: linear-gradient(360deg, #14ad9f 3.8%, #55c4cb 47.73%, #425ca9 100%);

      .banner__picture {
        display: block;
      }
    }

    &__full-slogan {
      display: none;

      &--tablet {
        display: block;
        max-width: 50%;
      }
    }
  }

  .subscribe {
    &__content {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &__subheader {
      display: block;
      color: white;
      margin-bottom: 40px;
    }

    &__header {
      margin-right: 0;
    }

    .title {
      margin-bottom: 20px;
    }
  }

  .joinrow {
    &__apps {
      width: 100%;
    }
  }

  .wsblock {
    &__title {
      font-weight: 700;
      font-size: 34px;
    }

    &__header {
      padding-top: 170px;
      margin-top: -170px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
  .profit__slogan-table {
    .profit-slogan {
      &__head {
        font-size: 78px;
      }
      &__small {
        font-size: 58px;
      }

      &__text {
        font-size: 30px;
      }
    }
  }

  .profit__banner {
    padding-left: 20px;

    img {
      width: 100%;
    }
  }

  .join {
    .title-large {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .rowcard {
    align-items: center;
  }
}
