$tooltip-border-color: #d9d9d9;
.picture-tooltip {
  width: 375px;
  height: 1685px;
  position: relative;

  &--2 {
    height: 910px;
  }

  .type {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    border: 2px solid transparent;
    cursor: pointer;
  }
}

.tippy-tooltip-content {
  text-align: left;
}

.tippy-tooltip.light-theme {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.tippy-tooltip.light-theme [x-arrow] {
  background-color: #fff;
  border-color: transparent transparent $tooltip-border-color $tooltip-border-color
}
