<footer class="footer black-links">
  <div class="container">
    <div class="footer__central">
      <div class="footer__logo">
        <a href="/" class="footer__logo-link">
          <img src="./img/logo-large.svg" alt="" class="footer__logo-img" />
        </a>

        <ul class="list-none social-block">
          <li>
            <a
              href="https://ok.ru/group/57203161170136"
              target="_blank"
              title="одноклассники"
              class="social-link social-link-ok"
            ></a>
          </li>
          <li>
            <a
              href="https://vk.com/dvizheniemy"
              target="_blank"
              title="Вконтакте"
              class="social-link social-link-vk"
            ></a>
          </li>
        </ul>
      </div>

      <div class="footer__content">
        <div class="footer__menu-columns">
          <div class="footer__item">
            <div class="footer__title">Приложение “МЫ”</div>
            <ul class="list-none footer__menu">
              <li>
                <a href="./comand.html" class="footer__menu-link">Команда</a>
              </li>
              <li>
                <a href="./rules.html" class="footer__menu-link">Правила</a>
              </li>
            </ul>
          </div>

          <div class="footer__item">
            <div class="footer__title">Инструкции</div>
            <ul class="list-none footer__menu">
              <li>
                <a href="/" class="footer__menu-link"> Как создать команду или событие? </a>
              </li>
              <li>
                <a href="/" class="footer__menu-link"> Как заработать баллы? </a>
              </li>
              <li>
                <a href="/" class="footer__menu-link"> Какие призы ждут победителей? </a>
              </li>
            </ul>
          </div>

          <div class="footer__item">
            <div class="footer__title">Юридическая информация</div>
            <ul class="list-none footer__menu">
              <li>
                <a href="/" class="footer__menu-link"> Пользовательское соглашение </a>
              </li>
              <li>
                <a href="/" class="footer__menu-link"> Политика конфиденциальности </a>
              </li>
              <li>
                <a href="/" class="footer__menu-link">
                  Согласие на обработку персональных данных
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">© 2021 Приложение "МЫ"</div>

      <ul class="list-none social-block">
        <li>
          <a
            href="https://ok.ru/group/57203161170136"
            target="_blank"
            title="одноклассники"
            class="social-link social-link-ok"
          ></a>
        </li>
        <li>
          <a
            href="https://vk.com/dvizheniemy"
            target="_blank"
            title="Вконтакте"
            class="social-link social-link-vk"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
