<div class="picture-tooltip picture-tooltip--2">
  <img src="./img/event-screen-2.png" alt="" />

  <div
    class="type"
    style="left: 88px; top: 251px"
    title="Выберите картинку на своем устройстве и загрузите ее."
  ></div>

  <div class="type" style="left: 271px; top: 424px" title="Напишите название вашей команды"></div>

  <div
    class="type"
    style="left: 107px; top: 491px"
    title="Обычно, он уже предзаполнен, если поле пустое, укажите ваш город"
  ></div>

  <div
    class="type"
    style="left: 218px; top: 539px"
    title="Выберите из списка направление
    деятельности вашей команды: <br>
    • Здоровье <br>
    • Политика <br>
    • Общество <br>
    • Прочее"
  ></div>

  <div
    class="type"
    style="left: 48px; top: 617px"
    title="Описание команды в приложении должно содержать: <br>
    • Название  <br>
    • Цель команды  <br>
    • Задачи команды"
  ></div>

  <div
    class="type"
    style="left: 231px; top: 675px"
    title="Укажите необходимый рейтинг участников, чтобы они могли вступить в вашу команду, пользователи с меньшим рейтингом не увидят вашу команду. Если оставить поле пустым, то любой пользователь приложения сможет быть участником вашей команды."
  ></div>

  <div class="type" style="left: 269px; top: 768.6px" title="Нажмите кнопку «Создать»"></div>
</div>
