<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="wsblock">
      <div class="container">
        <div class="wsblock__header">
          <h1 class="wsblock__title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
        </div>
        <div class="wsblock__text">
          <strong>1.1.</strong>
          Вы (далее – Пользователь), используя мобильное приложение или веб-сайт (далее – Сервис) в
          соответствии с лицензионным договором / контрактом, пользовательским или иным соглашением
          об его использовании, а также заказывая и пользуясь услугами общества с ограниченной
          ответственностью «ПЛАТФОРМА», ОГРН 1205200008771, ИНН 5263143054, КПП 526301001,
          юридический адрес: 603096 Нижегородская область, г. Нижний Новгород, ул. Станиславского д.
          13, пом. П5 Оф. 1 (далее – Администрация), во исполнение требований Федерального закона от
          27.07.2006 г. № 152-ФЗ «О персональных данных» предоставляете Администрации свое согласие
          на обработку своих следующих персональных данных: <br /><br />
          - фамилия, имя и отчество; <br /><br />
          - псевдоним (ник); <br /><br />
          - возраст; <br /><br />
          - номер мобильного телефона; <br /><br />
          - адрес электронной почты; <br /><br />
          - адрес проживания; <br /><br />
          - фотография, изображение профиля; <br /><br />
          - идентификаторы мессенджеров; <br /><br />
          - сведения о компетенциях; <br /><br />
          - IP-адрес устройства Пользователя; <br /><br />
          - данные файлов «cookie»; <br /><br />
          - данные, собираемые счетчиками; <br /><br />
          - данные, получаемые с помощью веб-маяков; <br /><br />
          - информация о веб-браузере Пользователя; <br /><br />
          - технические характеристики устройства и программного обеспечения; <br /><br />
          - дата и время доступа к Сервису; <br /><br />
          - адреса запрашиваемых страниц веб-сайта Сервиса; <br /><br />
          - географические координата места нахождения Пользователя; <br /><br />
          на срок действия лицензионного договора / контракта, пользовательского или иного
          соглашения об использовании Сервиса либо любого другого договора с Администрацией для
          следующих целей: <br /><br />
          <strong>1.1.1.</strong> использование персональных данных Пользователя, являющегося
          физическим лицом, использующим Сервис от своего имени, для целей заключения и исполнения
          Соглашения или любого другого договора с Администрацией; <br /><br />
          <strong>1.1.2.</strong> использование персональных данных Пользователя, являющегося
          физическим лицом, использующим Сервис от имени, представляемого и физического либо
          юридического лица, для целей заключения и исполнения Соглашения; <br /><br />
          <strong>1.1.3.</strong> проведение статистических и иных исследований использования
          Сервиса на основе обезличенных данных; <br /><br />
          <strong>1.1.4.</strong> соблюдение обязательных требований законодательства Российской
          Федерации. <br /><br />
          <strong>1.2.</strong> В рамках предоставленного согласия Администрации предоставляется
          право на совершение с персональными данными Пользователя любых действий включая, но не
          ограничиваясь: сбор, систематизацию, накопление, хранение, уточнение (обновление,
          изменение), использование, передачу, обезличивание, блокирование, уничтожение, передачу, в
          том числе трансграничную, персональных данных партнерам Администрации, перечень которых
          приводится на веб-сайте Администрации по адресу http://вашаплатформа.рф/, а также
          осуществление иных необходимых действий с персональными данными с учетом действующего
          законодательства, Политики конфиденциальности и обработки персональных данных и
          Пользовательского соглашения Сервиса. <br /><br />
          <strong>1.3.</strong> Обработка персональных данных Пользователя разрешается с применением
          следующих основных способов (но не ограничиваясь ими): хранение, запись на электронные
          носители и их хранение, составление перечней, маркировка. <br /><br />
          <strong>1.4.</strong> Обработка персональных данных Пользователя разрешается как с
          использованием, так и без использования средств автоматизации в соответствии с действующим
          законодательством. <br /><br />
          <strong>1.5.</strong> Разрешается обработка персональных данных Пользователя с
          использованием DPM-систем, в том числе принадлежащим третьим лицам и предоставленным
          Администрации на основании соответствующего договора или соглашения, при условии
          соблюдения мер защиты конфиденциальности персональных данных. <br /><br />
          <strong>1.6.</strong> Настоящее согласие на обработку персональных данных Пользователя
          распространяет свое действие на любую передачу персональных данных Пользователя
          Администрации, совершенную до предоставления настоящего согласия. <br /><br />ООО
          «ПЛАТФОРМА», ОГРН 1205200008771, ИНН 5263143054, КПП 526301001 <br /><br />
          Юридический адрес: 603096 Нижегородская область, г. Нижний Новгород, ул. Станиславского д.
          13, пом. П5 Оф. 1 <br /><br />
          Электронная почта: komanda@вашаплатформа.рф <br />
        </div>
      </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
