<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="banner banner--comand">
      <div class="container">
        <div class="banner__content">
          <div class="banner__full-slogan" style="background-image: url('./img/slogan-comand.svg');"></div>
          <div class="banner__full-slogan banner__full-slogan--tablet" style="background-image: url('./img/slogan-comand-tablet.svg');"></div>
          <div class="banner__full-slogan banner__full-slogan--mobile" style="background-image: url('./img/slogan-comand-mobile.svg');"></div>
          <div class="banner__picture">
            <img src="./img/screen-comand.png" alt="screenshot" />
          </div>
          <div class="banner__arrow"></div>
        </div>
      </div>
    </section>

    <section class="comands">
      <div class="container">
        <div class="aboutcard aboutcard--comands">
          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_samodelkina.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Мария Самоделкина</div>
            <div class="aboutcard__text">
              Руководитель Нижегородского регионального отделения Всероссийского общественного
              движения «Волонтеры Победы», депутат городской Думы города Нижнего Новгорода
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_poddimnicov.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Владимир Поддымников</div>
            <div class="aboutcard__text">
              Директор МАУ СШ «Дворец спорта «Юность», депутат городской Думы Нижнего Новгорода
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_ponamorenko.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Роман Пономаренко</div>
            <div class="aboutcard__text">
              Директор МАУ СШ «Дворец спорта «Юность», депутат городской Думы Нижнего Новгорода
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_sedih.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Игорь Седых</div>
            <div class="aboutcard__text">
              Директор АНО «Центр инноваций социальной сферы Нижегородской области»
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_apoyan.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Соломон Апоян</div>
            <div class="aboutcard__text">
              Главный врач Нижегородского областного центра по профилактике и борьбе со СПИД и
              инфекционными заболеваниями
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_sergeeva.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Дарья Сергеева</div>
            <div class="aboutcard__text">
              Руководитель Нижегородского регионального отделения молодежной общероссийской
              общественной организации «Российские Студенческие Отряды», заместитель председателя
              Молодежной Палаты при городской Думе города Нижнего Новгорода
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_belyev.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Алексей Беляев</div>
            <div class="aboutcard__text">
              Председатель ОО «Союз КВН Нижегородской области», молодежный министр культуры
              Нижегородской области, директор ассоциации рестораторов Нижнего Новгорода
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_legnina.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Дарья Лежнина</div>
            <div class="aboutcard__text">
              Исполнительный директор Нижегородского регионального отделения Всероссийского
              общественного движения «Волонтеры Победы»
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_trefilova.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Любовь Трефилова</div>
            <div class="aboutcard__text">
              Региональный координатор Всероссийского общественного движения «Волонтёры-медики» в
              Нижегородской области
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Ваге Айрапетян</div>
            <div class="aboutcard__text">
              Президент МРОО «Ассоциация самозанятых», член Молодёжного парламента при
              Законодательном Собрании Нижегородской области
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_zayac.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Полина Заяц</div>
            <div class="aboutcard__text">Вице-президент МРОО «Ассоциация самозанятых»</div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_smirnova.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Ольга Смирнова</div>
            <div class="aboutcard__text">
              Председатель Нижегородской региональной общественной организации социальной поддержки
              и защиты пожилых людей и инвалидов «Территория добра»
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_shinkaruk.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Алиса Шинкарук</div>
            <div class="aboutcard__text">
              Директор АНО «Центр поддержки социально значимых проектов «Меняющие мир», руководитель
              Центра проектной работы НИУ и ДФ РАНХиГС
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_feizieva.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Айнура Фейзиева</div>
            <div class="aboutcard__text">
              Председатель Нижегородского регионального отделения Общероссийского общественного
              движения «Всероссийский межнациональный союз молодёжи»
            </div>
          </div>

          <div class="aboutcard__item">
            <div class="aboutcard__picture">
              <div class="circle circle--bg">
                
                <img class="circle__picture" src="./img/people/img_lipina.jpg" alt="" />
              </div>
            </div>

            <div class="aboutcard__name">Татьяна Липина</div>
            <div class="aboutcard__text">Руководитель проекта «Раздельно»</div>
          </div>
        </div>
      </div>
    </section>
    
    @@include("./template/subscribe.html")

    @@include("./template/footer.html") @@include("./template/scripts.html")
  </body>
</html>
