<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="banner banner--event">
      <div class="container">
        <div class="banner__content">
          <div class="banner__slogan-block">
            <div class="slogan">
              <div class="slogan__left">
                <div class="slogan__logo">
                  <img src="./img/we-horizontal.svg" alt="" class="" />
                </div>
                <div class="slogan__text">
                  Создавай события в приложении «МЫ» в категориях «Сделай», «Расскажи», «Участвуй» ,
                  или сам принимай участие в проектах, приглашай друзей и знакомых.
                </div>
              </div>
              <div class="slogan__right">
                <div class="slogan__arrow"></div>
              </div>
            </div>
          </div>
          <div class="banner__picture">
            <img src="./img/screen-event.png" alt="screenshot" />
          </div>
          <div class="banner__slogan-arrow">
            <div class="slogan__arrow"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="event-section">
      <div class="container">
        <h2 class="title title-medium text-success">Как создать событие?</h2>
        <small class="subtitle subtitle-medium"
          >Для создания события предварительно необходимо создать команду</small
        >
      </div>
      <div class="events-block">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <div class="events-block__content">
                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-1.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Нажимаем кнопку «Создать»</h4>
                    <div class="eventitem__text">
                      Она расположена в меню приложения, внизу открытого окна.
                    </div>
                  </div>
                </div>

                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-2.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Выбираем «Событие»</h4>
                    <div class="eventitem__text">
                      Кнопка расположена в всплывающем окне, внизу экрана
                    </div>
                  </div>
                </div>

                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-3.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Заполняем нужные поля</h4>
                  </div>
                </div>

                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-4.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Нажмите кноаку «Создать»</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md events-block__picture">@@include("./template/tooltip1.html")</div>
          </div>
        </div>
      </div>
    </section>

    <section class="event-section event-section--reverse">
      <div class="container">
        <h2 class="title title-medium text-success">Как создать команду?</h2>
      </div>
      <div class="events-block events-block--reverse">
        <div class="container">
          <div class="row">
            <div class="col-md events-block__picture">@@include("./template/tooltip2.html")</div>

            <div class="col-md">
              <div class="events-block__content">
                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-reverse-1.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Нажимаем кнопку «Создать»</h4>
                    <div class="eventitem__text">
                      Она расположена в меню приложения, внизу открытого окна.
                    </div>
                  </div>
                </div>

                <div class="eventitem">
                  <div class="eventitem__picture">
                    <img src="./img/event-reverse-2.png" alt="" class="" />
                  </div>
                  <div class="eventitem__content">
                    <h4 class="eventitem__title">Выбираем «Команду»</h4>
                    <div class="eventitem__text">
                      Кнопка расположена в всплывающем окне, внизу экрана
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
