<!DOCTYPE html>
<html lang="ru">
 <head>
<title>МЫ</title> @@include("./template/head.html")</head>
  <body>
    @@include("./template/header.html")
    <section class="section">
      <div class="container">
        <h1>pages</h1>
        <ul>
          <li>
            <a href="./index.html">Главная</a>
          </li>
          <li>
            <a href="./comand.html">Команда</a>
          </li>
          <li>
            <a href="./event.html">События</a>
          </li>
          <li>
            <a href="./prizes.html">Призы</a>
          </li>
          <li>
            <a href="./rules.html">Условия</a>
          </li>
          <li>
            <a href="./scores.html">рейтинг</a>
          </li>

          <li>
            <a href="./terms.html">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
          </li>
          <li>
            <a href="./agreements.html">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</a>
          </li>
          <li>
            <a href="./politics.html">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</a>
          </li>
        </ul>

        <div class="">
          <button id="t1" class="t btn tippy" title="a cute tooltip!">hover here</button>
          <button id="t2" class="t btn tippy" title="a cute tooltip!">hover here</button>
          <button id="t3" class="btn tippy" title="a cute tooltip!">hover here</button>
          <button id="t4" class="btn tippy" title="a cute tooltip!">click here</button>
        </div>
      </div>
    </section>
    @@include("./template/footer.html") @@include("./template/scripts.html")
  </body>
</html>
