<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</title>
    @@include("./template/head.html")
  </head>
  <body>
    @@include("./template/header.html")
    <section class="wsblock">
      <div class="wsblock__header">
        <div class="container">
          <h1 class="wsblock__title">
            ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
          </h1>
        </div>
      </div>
      <div class="container">
        <div class="wsblock__text">
          <strong>Город Нижний Новгород</strong>
          <br /><br /><strong>Одиннадцатое февраля две тысячи двадцатого года</strong> <br /><br />
          Настоящая политика в соответствии с частью 2 статьи 18.1 Федерального закона от 27.07.2006
          № 152-ФЗ «О персональных данных» определяет политику общества с ограниченной
          ответственностью «ПЛАТФОРМА», ОГРН 1205200008771, ИНН 5263143054, КПП 526301001,
          юридический адрес: 603096 Нижегородская область, г. Нижний Новгород, ул. Станиславского д.
          13, пом. П5 Оф. 1 (далее – Оператор) в отношении обработки персональных данных и содержит
          сведения о реализуемых Оператором требованиях к защите персональных данных. Настоящая
          политика действует в отношении всех персональных данных, обрабатываемых с помощью Сервиса,
          которые Оператор получает или может получить от Пользователя. Настоящая политика является
          неотъемлемой частью внутреннего документа Оператора, определяющего общую политику
          Оператора в отношении обработки персональных данных и раскрывающего общие сведения о
          реализуемых Оператором требованиях к защите персональных данных.
          <br /><br /><strong>1.</strong> <strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong> <br /><br /><strong
            >1.1.</strong
          >
          Следующие ниже термины и определения для целей настоящей политики имеют следующее
          значение:
          <br /><strong>«Персональные данные»</strong> – любая информация, относящаяся к
          определенному или определяемому на основании такой информации физическому лицу (субъекту
          персональных данных), в том числе его фамилия, имя, отчество, год, месяц, дата и место
          рождения, адрес, адрес электронной почты, телефонный номер, семейное, социальное,
          имущественное положение, образование, профессия, доходы, другая информация. Для целей
          настоящей политики под персональными данными понимается как информация, которую
          Пользователь предоставляет о себе самостоятельно при использовании Сервиса, так и
          информация, которая автоматически передается Оператору в процессе использования Сервиса с
          помощью установленного на устройстве Пользователя программного обеспечения, в том числе
          IP-адрес, данные файлов «cookie», информация о браузере Пользователя, технические
          характеристики оборудования и программного обеспечения, используемых Пользователем, дата и
          время доступа к Сервису, адреса запрашиваемых страниц веб-сайта и иная подобная
          информация. Кроме этого, к персональным данным для целей настоящей политики также
          относится информация о Пользователе, обработка которой предусмотрена Соглашением,
          регулирующим порядок использования Сервиса. В соответствии с Указом Президента РФ от 6
          марта 1997 г. № 188 персональные данные относятся к сведениям конфиденциального характера.
          <br /><strong>«Оператор»</strong> – общество с ограниченной ответственностью «ПЛАТФОРМА»,
          ОГРН 1205200008771, ИНН 5263143054, КПП 526301001, юридический адрес: 603096 Нижегородская
          область, г. Нижний Новгород, ул. Станиславского д. 13, пом. П5 Оф. 1, осуществляющее
          обработку персональных данных, а также определяющий цели обработки персональных данных,
          состав персональных данных, подлежащих обработке, действия (операции), совершаемые с
          персональными данными. <br /><strong>«Пользователь»</strong> – любое физическое лицо
          (субъект персональных данных), в том числе действующее от имени и в интересах юридического
          лица, которое может в процессе использования Сервиса предоставить Оператору свои
          персональные данные, самостоятельно либо через представляемое им юридическое лицо
          выразившее согласие с изложенными в Соглашении условиями либо путем его подписания, либо
          совершения указанных в нем конклюдентных действий, направленных на использование Сервиса.
          Под Пользователем в контексте настоящей политики также понимаются лица, чьи персональные
          данные обрабатываются Оператором по поручению пользователя Сервиса, содержащемся в
          Соглашении. <br /><strong>«Сервис»,</strong>
          <strong>«Информационная система персональных данных», «Информационная система»</strong>
          – веб-сайт в сети Интернет / мобильное приложение для устройств под управлением
          операционных систем Google Android и Apple iOS, представляющее собой компьютерную
          программу для управления мероприятиями и событиями. Сервис включает в себя совокупность
          информации, других компьютерных программ, баз данных, программных кодов, лежащих в их
          основе ноу-хау, алгоритмов, элементов дизайна, шрифтов, логотипов, а также текстовых,
          графических и иные материалов, а также прочих результатов интеллектуальной деятельности.
          <br /><strong>«Соглашение»</strong> – лицензионный договор / контракт, пользовательское
          или иное соглашение между Пользователем и Оператором, регулирующее порядок использования
          Сервиса и содержащее поручение Пользователя Оператору на обработку персональных данных,
          заключенное либо путем его подписания, либо совершения указанных в нем конклюдентных
          действий, направленных на использование Сервиса. <br /><strong
            >«Обработка персональных данных»</strong
          >
          – действия (операции) с персональными данными, включая сбор, запись, систематизацию,
          накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
          передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
          уничтожение. <br /><strong>«Автоматизированная обработка персональных данных»</strong> –
          обработка персональных данных с помощью средств вычислительной техники. <br /><strong
            >«Неавтоматизированная обработка персональных данных», «Обработка персональных данных
            без использования средств автоматизации»</strong
          >
          – обработка персональных данных, содержащихся в информационной системе персональных данных
          либо извлеченных из такой системы в случаях, когда такие действия с персональными данными,
          как использование, уточнение, распространение, уничтожение персональных данных в отношении
          каждого из субъектов персональных данных, осуществляются при непосредственном участии
          человека. <br /><strong>«Распространение персональных данных»</strong> – действия,
          направленные на передачу персональных данных определенному кругу лиц (передача
          персональных данных) или на раскрытие персональных данных неопределенному кругу лиц.
          <br /><strong>«Предоставление персональных данных»</strong> – действия, направленные на
          передачу персональных данных определенному лицу или определенному кругу лиц. <br /><strong
            >«Блокирование персональных данных»</strong
          >
          – временное прекращение обработки персональных данных (за исключением случаев, когда
          обработка необходима для уточнения персональных данных). <br /><strong
            >«Уничтожение персональных данных»</strong
          >
          – действия, в результате которых невозможно восстановить содержание персональных данных в
          информационной системе персональных данных и (или) в результате которых уничтожаются
          материальные носители персональных данных. <br /><strong
            >«Обезличивание персональных данных»</strong
          >
          – действия, в результате которых невозможно без использования дополнительной информации
          определить принадлежность персональных данных конкретному субъекту. <br /><strong
            >«Использование персональных данных»</strong
          >
          – действия (операции) с персональными данными, совершаемые в целях принятия решений,
          совершения сделок или иных действий, порождающих юридические последствия в отношении
          субъектов персональных данных либо иным образом затрагивающих их права и свободы или права
          и свободы других лиц. <br /><strong>«Общедоступные персональные данные»</strong> –
          персональные данные, доступ неограниченного круга лиц к которым предоставлен с согласия
          субъекта или на которые в соответствии с федеральными законами не распространяется
          требование соблюдения конфиденциальности. <br /><strong
            >«Конфиденциальность персональных данных»</strong
          >
          – обязательное для соблюдения лица, получившего доступ к персональным данным, требование
          не допускать их распространения без согласия субъекта или иного законного основания.
          <br /><strong>«Файлы «</strong><strong>cookie</strong><strong>», «</strong
          ><strong>cookie</strong><strong>»</strong> – небольшой фрагмент данных, отправленный
          веб-сервером и хранимый на устройстве Пользователя. Файлы «cookie» содержат небольшие
          фрагменты текста и используются для хранения информации о работе браузеров. Они позволяют
          хранить и получать идентификационные сведения и другую информацию на компьютерах,
          смартфонах, телефонах и других устройствах. Спецификации файлов «cookie» описаны в
          документах RFC 2109 и RFC 2965. Для этих же целей используются другие технологии, в том
          числе данные, сохраняемые браузерами или устройствами, идентификаторы, связанные с
          устройствами, и другое программное обеспечение. В настоящей политике все эти технологии
          называются файлами «cookie». <br /><strong>«Веб-маяки»</strong> – изображения в
          электронной форме (одно-пиксельные (1x1) или пустые GIF-изображения). Веб-маяки способны
          помочь Оператору распознавать определенные типы информации на устройстве Пользователя,
          например, файлы «cookie», время и дату просмотра страницы и описание страницы, где
          размещен веб-маяк. <br /><strong>«Счетчик»</strong> – компьютерная программа, использующая
          фрагмент кода, установленный на веб-сайте, отвечающий за анализ файлов «cookie» и сбор
          статистических и персональных данных этого веб-сайта. Сбор персональных данных
          осуществляется в обезличенном виде. <br /><strong>«</strong><strong>IP</strong
          ><strong>-адрес»</strong> – номер из ресурса нумерации сети передачи данных, построенной
          на основе протокола IP (RFC 791), однозначно определяющий при оказании телематических
          услуг связи, в том числе доступа к сети Интернет, абонентский терминал (компьютер,
          смартфон, планшет, иное устройство) или средства связи, входящие в информационную систему
          и принадлежащие Пользователю. <br /><strong>«Токен»</strong>
          – уникальный набор символов, идентифицирующий Пользователя в аккаунтах сторонних
          веб-сервисов. Токен позволяет осуществить авторизованное подключение к Сервису с
          использованием авторизации через сторонние веб-сервисы (например, социальные сети).
          <br /><strong>1.2.</strong> Все остальные термины и определения, встречающиеся в тексте
          настоящей политики, толкуются Сторонами в соответствии с законодательством Российской
          Федерации, действующими рекомендациями (RFC) <br /><strong>1.3.</strong> международных
          органов по стандартизации в сети Интернет и сложившимися в сети Интернет обычными
          правилами толкования соответствующих терминов. Кроме того, в политике используются термины
          из: ГОСТ Р ИСО 9241-151-2014, ГОСТ Р ИСО 9241-161-2016, ГОСТ 7.83-2001, ГОСТ 7.4-95, ГОСТ
          7.9-95 (ИСО 214-76), ГОСТ 7.60-2003, ГОСТ 7.82-2001, ГОСТ Р 56824-2015, ГОСТ Р 55386-2012,
          ГОСТ Р 56823-2015, ГОСТ Р 53632-2009, ГОСТ Р 56826-2015, ГОСТ Р 5886-2018, ГОСТ Р
          58223-2018, ГОСТ Р ИСО/МЭК 24730-1-2017. <br /><strong>1.4.</strong> Термины и
          определения, используемые в настоящей политике, могут быть использованы как в
          единственном, так и во множественном числе в зависимости от контекста, написание терминов
          может быть использовано как с заглавной буквы, так и с прописной. <br /><strong
            >1.5.</strong
          >
          Названия заголовков (статей), а также конструкция политики предназначены исключительно для
          удобства пользования текстом политики и буквального юридического значения не имеют.
          <br /><strong>1.6.</strong> Настоящая политика разработана в соответствии с Конституцией
          Российской Федерации, Гражданским кодексом Российской Федерации, Федеральным законом от
          27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации»,
          Федеральным законом от 27 июля 2006 г. № 152-ФЗ «О персональных данных», иными
          федеральными законами. <br /><strong>1.7.</strong> Настоящая политика определяет порядок и
          условия обработки персональных данных Оператором, включая порядок передачи персональных
          данных третьим лицам, особенности неавтоматизированной обработки персональных данных,
          порядок доступа к персональным данным, систему защиты персональных данных, порядок
          организации внутреннего контроля и ответственность за нарушения при обработке персональных
          данных, а также иные вопросы. <br /><strong>1.8.</strong> Настоящая политика вступает в
          силу с момента ее утверждения Оператором и действует бессрочно до замены ее новой
          политикой. <br /><strong>1.9.</strong> Оператор вправе вносить изменения в настоящую
          политику без согласия Пользователя. Все изменения в политику вносятся распорядительным
          актом Оператора. <br /><strong>1.10.</strong>
          Настоящая политика применяется ко всем процессам по обработке персональных данных,
          осуществляемым с помощью Сервиса без использования средств автоматизации. Оператор не
          контролирует и не несет ответственности за веб-сайты, принадлежащие третьим лицам, на
          которые Пользователь может перейти по ссылкам, размещенным в Сервисе.
          <br /><br /><strong>2.</strong>
          <strong>ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong> <br /><br /><strong
            >2.1.</strong
          >
          Оператор осуществляет обработку персональных данных Пользователя, руководствуясь
          следующими документами: <br />- Конституция Российской Федерации; <br />- Гражданский
          кодекс Российской Федерации; <br />- Налоговый кодекс Российской Федерации; <br />-
          Федеральный закон от 27.07.2006 № 152-ФЗ «О персональных данных»; <br />- Федеральный
          закон от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите
          информации»; <br />- Закон РФ от 07.02.1992 № 2300-1 «О защите прав потребителей»; <br />-
          Постановление Правительства Российской Федерации от 15.08.1997 № 1025 «Об утверждении
          Правил бытового обслуживания населения в Российской Федерации»; <br />- Постановление
          Госкомстата Российской Федерации от 05.01.2004 № 1 «Об утверждении унифицированных форм
          первичной учетной документации по учету труда и его оплаты»; <br />- Постановление
          Правительства Российской Федерации от 15.09.2008 № 687 «Об утверждении положения об
          особенностях обработки персональных данных, осуществляемой без использования средств
          автоматизации»; <br />- Постановление Правительства РФ от 01.11.2012 № 1119 «Об
          утверждении требований к защите персональных данных при их обработке в информационных
          системах персональных данных»; <br />- Приказ ФСТЭК России от 18.02.2013 № 21 «Об
          утверждении состава и содержания организационных и технических мер по обеспечению
          безопасности персональных данных при их обработке в информационных системах персональных
          данных»; <br />- Приказ ФСБ России от 10.07.2014 № 378 «Об утверждении Состава и
          содержания организационных и технических мер по обеспечению безопасности персональных
          данных при их обработке в информационных системах персональных данных с использованием
          средств криптографической защиты информации, необходимых для выполнения установленных
          Правительством Российской Федерации требований к защите персональных данных для каждого из
          уровней защищенности» <br />- иные нормативные правовые акты в установленной сфере
          деятельности Оператора. <br /><strong>2.2.</strong> Обработка персональных данных
          Пользователя производится на основании и во исполнение Соглашения, регулирующего порядок
          использования Сервиса и иных соглашений или договоров, заключаемых между Пользователем и
          Оператором. <br /><strong>2.3.</strong> Обработка персональных данных Пользователя может
          производиться также на основании его отдельного согласия на такую обработку, которое может
          быть выражено в том числе непосредственно при использовании Сервиса путем нажатия на
          соответствующую кнопку или путем проставления отметки индикатора соответствующего
          чек-бокса. Срок действия такого согласия Пользователя указывается в его тексте.
          <br /><br /><strong>3.</strong> <strong>ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ</strong>
          <br /><br /><strong>3.1.</strong>
          Оператор осуществляет обработку только тех персональных данных, которые необходимы для
          использования Сервиса или исполнения соглашений и договоров с Пользователем, за
          исключением случаев, когда законодательством Российской Федерации предусмотрено
          обязательное хранение персональной информации в течение определенного законом срока.
          <br /><strong>3.2.</strong> При обработке персональных данных Оператор не объединяет базы
          данных, содержащие персональные данные, обработка которых осуществляется в несовместимых
          между собой целях. <br /><strong>3.3.</strong> Оператор осуществляет обработку
          персональных данных Пользователя в следующих целях: <br /><strong>3.3.1.</strong>
          использование персональных данных Пользователей, являющихся физическими лицами,
          использующими Сервис от своего имени, для целей заключения и исполнения Соглашения или
          любого другого договора с Оператором; <br /><strong>3.3.2.</strong> использование
          персональных данных Пользователей, являющихся физическими лицами, использующими Сервис от
          имени, представляемого ими физического либо юридического лица, для целей заключения и
          исполнения Соглашения или любого другого договора с Оператором; <br /><strong
            >3.3.3.</strong
          >
          проведение статистических и иных исследований использования Сервиса на основе обезличенных
          данных; <br /><strong>3.3.4.</strong>
          соблюдение обязательных требований законодательства Российской Федерации.
          <br /><br /><strong>4.</strong>
          <strong
            >ОБЪЕМ И КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ, КАТЕГОРИИ СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ
            ДАННЫХ</strong
          >
          <br /><strong><br />4.1.</strong> Персональные данные, разрешенные к обработке в
          соответствии с настоящей политикой и предоставляемые Пользователями, являющимися
          физическими лицами, использующими Сервис от своего имени, путем заполнения соответствующих
          полей ввода при использовании Сервиса, могут включать в себя следующую информацию:
          <br /><strong>4.1.1.</strong> фамилия, имя и отчество; <br /><strong>4.1.2.</strong>
          псевдоним (ник); <br /><strong>4.1.3.</strong> возраст; <br /><strong>4.1.4.</strong>
          номер мобильного телефона; <br /><strong>4.1.5.</strong> адрес электронной почты;
          <br /><strong>4.1.6.</strong> адрес проживания; <br /><strong>4.1.7.</strong> личная
          фотография, изображение профиля Пользователя; <br /><strong>4.1.8.</strong> идентификаторы
          мессенджеров; <br /><strong>4.1.9.</strong> сведения о компетенциях. <br /><strong
            >4.2.</strong
          >
          Персональные данные, разрешенные к обработке в соответствии с настоящей политикой и
          предоставляемые Пользователями, являющимися физическими лицами, использующими Сервис от
          имени представляемого ими физического либо юридического лица, путем заполнения
          соответствующих полей ввода при использовании Сервиса, могут включать в себя следующую
          информацию: <br /><strong>4.2.1.</strong> фамилия, имя и отчество; <br /><strong
            >4.2.2.</strong
          >
          псевдоним (ник); <br /><strong>4.2.3.</strong> возраст; <br /><strong>4.2.4.</strong>
          номер мобильного телефона; <br /><strong>4.2.5.</strong> адрес электронной почты;
          <br /><strong>4.2.6.</strong> адрес проживания; <br /><strong>4.2.7.</strong> личная
          фотография, изображение профиля Пользователя; <br /><strong>4.2.8.</strong> идентификаторы
          мессенджеров; <br /><strong>4.2.9.</strong> сведения о компетенциях. <br /><strong
            >4.3.</strong
          >
          Персональные данные, обрабатываемые в соответствии с настоящей политикой и автоматически
          передаваемые Оператору в процессе использования Сервиса с помощью установленного на
          устройстве Пользователя программного обеспечения, могут включать в себя следующую
          информацию: <br /><strong>4.3.1.</strong> IP-адрес устройства Пользователя; <br /><strong
            >4.3.2.</strong
          >
          данные файлов «cookie»; <br /><strong>4.3.3.</strong> данные, собираемые счетчиками;
          <br /><strong>4.3.4.</strong> данные, получаемые с помощью веб-маяков; <br /><strong
            >4.3.5.</strong
          >
          информация о браузере Пользователя; <br /><strong>4.3.6.</strong> технические
          характеристики устройства и программного обеспечения; <br /><strong>4.3.7.</strong> дата и
          время доступа к Сервису; <br /><strong>4.3.8.</strong> адреса запрашиваемых страниц
          веб-сайта Сервиса; <br /><strong>4.3.9.</strong> географические координаты места
          нахождения Пользователя; <br /><strong>4.4.</strong> В соответствии с настоящей политикой
          Оператор осуществляет обработку персональных данных лиц, относящихся к следующим
          категориям субъектов персональных данных: <br /><strong>4.4.1.</strong> физические лица,
          использующие Сервис в соответствии с Соглашением об его использовании от своего имени;
          <br /><strong>4.4.2.</strong> физические лица, использующие Сервис в соответствии с
          Соглашением об его использовании от имени представляемого ими физического либо
          юридического лица. <br /><br /><strong>5.</strong>
          <strong>ПОРЯДОК И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong> <br /><br /><strong
            >5.1.</strong
          >
          Оператор имеет право на обработку персональных данных Пользователя без уведомления
          уполномоченного органа по защите прав субъектов персональных данных в соответствии с
          частью 2 статьи 22 (пункты 3 и 8) Федерального закона от 27 июля 2006 г. № 152-ФЗ «О
          персональных данных». <br /><strong>5.2.</strong> Оператор осуществляет обработку
          персональных данных Пользователя с помощью информационной системы персональных данных без
          использования средств автоматизации в соответствии с федеральными законами или иными
          нормативными правовыми актами Российской Федерации, устанавливающими требования к
          обеспечению безопасности персональных данных при их обработке и к соблюдению прав
          субъектов персональных данных. Такие действия с персональными данными, как использование,
          уточнение, распространение, уничтожение персональных данных в отношении Пользователя,
          осуществляются при непосредственном участии сотрудников Оператора в соответствии с
          особенностями, утвержденными Постановлением Правительства Российской Федерации от
          15.09.2008 № 687. <br /><strong>5.3.</strong> Оператор осуществляет обработку и хранит
          персональные данные Пользователя в течение срока, определяемого в соответствии с
          Соглашением об использовании Сервиса. <br /><strong>5.4.</strong> В отношении персональных
          данных Пользователя сохраняется их конфиденциальность, кроме случаев добровольного
          предоставления Пользователем информации о себе для общего доступа неограниченному кругу
          лиц. <br /><strong>5.5.</strong> Оператор вправе передать персональные данные Пользователя
          третьим лицам в следующих случаях: <br /><strong>5.5.1.</strong> имеется согласие
          Пользователя на такие действия, выраженное в соответствии с условиями Соглашения об
          использовании Сервиса; <br /><strong>5.5.2.</strong> передача необходима для использования
          Пользователем определенного функционала Сервиса (например, для авторизации через аккаунты
          в социальных сетях) либо для исполнения определенного соглашения, договора или сделки с
          Пользователем; <br /><strong>5.5.3.</strong> передача предусмотрена законодательством
          Российской Федерации или иным применимым законодательством в рамках установленной
          законодательством процедуры; <br /><strong>5.5.4.</strong> в случае перехода прав на
          Сервис необходима передача персональных данных приобретателю одновременно с переходом всех
          обязательств по соблюдению условий настоящей политики применительно к полученным им
          персональным данным; <br /><strong>5.5.5.</strong> в случае необходимости обеспечения
          возможности защиты прав и законных интересов Оператора или третьих лиц, когда со стороны
          Пользователя происходит нарушение настоящей политики или Соглашения об использовании
          Сервиса; <br /><strong>5.5.6.</strong> в иных случаях, предусмотренных законодательством.
          <br /><strong>5.6.</strong> При утрате или несанкционированном разглашении персональных
          данных Оператор информирует Пользователя об указанном факте. <br /><strong>5.7.</strong>
          Оператор принимает необходимые организационные и технические меры для защиты персональных
          данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения,
          блокирования, копирования, распространения, а также от иных неправомерных действий третьих
          лиц. <br /><strong>5.8.</strong> Оператор совместно с Пользователем принимает все
          необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных
          утратой или несанкционированным разглашением персональных данных Пользователя.
          <br /><strong>5.9.</strong> Оператор вправе передавать персональные данные органам
          дознания и следствия, иным уполномоченным органам по основаниям, предусмотренным
          действующим законодательством Российской Федерации. <br /><strong>5.10.</strong> При сборе
          персональных данных Оператор осуществляет запись, систематизацию, накопление, хранение,
          уточнение (обновление, изменение), извлечение персональных данных Пользователя, являющихся
          гражданами Российской Федерации, с использованием баз данных, находящихся на территории
          Российской Федерации. <br /><strong>5.11.</strong> Оператор прекращает обработку
          персональных данных Пользователя, обработка которых осуществляется с их согласия, при
          истечении срока действия согласия Пользователя на их обработку или при отзыве согласия
          Пользователя на обработку его персональных данных, а также в случае выявления
          неправомерной обработки персональных данных или ликвидации Оператора. <br /><br /><strong
            >6.</strong
          >
          <strong
            >ПОРЯДОК СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ С ПОМОЩЬЮ ФАЙЛОВ «COOKIE», ВЕБ-МАЯКОВ И
            СЧЕТЧИКОВ</strong
          >
          <br /><br /><strong>6.1.</strong> Файлы «cookie», передаваемые от Оператора на устройство
          Пользователя и от Пользователя к Оператору, могут использоваться Оператором для достижения
          целей обработки персональных данных в соответствии с политикой конфиденциальности и
          обработки персональных данных. <br /><strong>6.2.</strong> Оператор использует различные
          виды «cookie» в Сервисе, которые служат для разных целей и в зависимости от них могут быть
          отнесены к одной из следующих категорий: <br />- «Обязательные», т.е. файлы «cookie»,
          которые строго необходимы для функционирования критичных компонентов Сервиса и совершения
          оплаты Пользователем; <br />- «Функциональные», т.е. файлы «cookie», которые позволяют
          Пользователю взаимодействовать с интерфейсом Сервиса и использовать его возможности,
          записывать информацию о совершенных действиях в Сервисе и настраивать Сервис в
          соответствии с потребностями Пользователя. Без этих файлов «cookie» Сервис не сможет
          предоставить определенные функции, такие как запоминание введенных Пользователем сведений,
          сохранение предпочтительного языка и т.п.; <br />- «Аналитические», т.е. аналитические /
          статистические файлы «cookie», которые помогают улучшить производительность Сервиса и
          сделать его более удобным для Пользователей. Через Аналитические файлы «cookie» Оператор
          получает информацию о качестве и / или эффективности Сервиса и его услуг, что помогает
          понять, как Пользователи используют Сервис и как пользуются услугами Оператора.
          <br /><strong>6.3.</strong> Оператор не запрашивает явным образом согласие при
          использовании обязательных файлов «cookie». Если Пользователь не желает, чтобы его
          персональные данные собирались с помощью обязательных файлов «cookie», он может отключить
          их предоставление Оператору в программное обеспечении (браузере) на своем устройстве. При
          этом Пользователю перестанут быть доступны функциональные возможности Сервиса, связанные с
          обязательными файлами «cookie», что может привести к полной неработоспособности или
          некорректной работе Сервиса. <br /><strong>6.4.</strong>
          Функциональные и аналитические файлы «cookie» Оператор может использовать только с
          согласия Пользователя, которое выражается по общему правилу принятием Соглашения и началом
          использования Сервиса. В ином случае Пользователь вправе отказаться от использования таких
          файлов «cookie» путем их отключения в настройках Сервиса без вреда для его
          функциональности.
          <br /><strong>6.5.</strong> Пользователь соглашается с тем, что его устройства и
          программное обеспечение, применяемые для работы с Сервисом, в зависимости от их версии и
          конфигурации могут как обладать, так и не обладать функцией запрета на операции с файлами
          «cookie» как для любых, так и для определенных сайтов и приложений, а также функцией
          удаления ранее полученных файлов «cookie» (например, приватный режим браузера).
          <br /><strong>6.6.</strong>
          Оператор вправе устанавливать требование для устройства Пользователя об обязательном
          разрешении приема и получения файлов «cookie» в связи с требованиями безопасности.
          <br /><strong>6.7.</strong> Структура файла «cookie», его содержание и технические
          параметры определяются Оператором и могут изменяться без предварительного уведомления
          Пользователя. Пользователь вправе получить всю необходимую информацию о файлах «cookie»
          путем направления запроса в адрес Оператора в порядке, установленном политикой
          конфиденциальности и обработки персональных данных. <br /><strong>6.8.</strong> Счетчики,
          размещенные Оператором в Сервисе, могут использоваться Оператором для анализа файлов
          «cookie» и сбора персональных данных об использовании Сервиса с целью улучшения качества
          работы Сервиса, уровня удобства их использования, совершенствование Сервиса. Технические
          параметры работы счетчиков определяются Оператором и могут изменяться без предварительного
          уведомления Пользователя. <br /><strong>6.9.</strong> Оператор также может использовать
          веб-маяки как отдельно, так и совместно с файлами «cookie», чтобы собирать информацию об
          использовании Сервиса. Пользователь имеет право заблокировать веб-маяки при использовании
          Сервиса путем запрета на загрузку изображений в настройках своего программного обеспечения
          (браузера). <br /><br /><strong>7.</strong> <strong>ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ</strong>
          <br /><br /><strong>7.1.</strong> Право доступа к персональным данным Пользователя имеют
          только сотрудники Оператора, допущенные в силу выполняемых служебных обязанностей к работе
          с персональными данными Пользователя на основании перечня лиц, допущенных к работе с
          персональными данными, который утверждается Оператором. <br /><strong>7.2.</strong> Список
          сотрудников, получивших доступ к персональным данным, поддерживается Оператором в
          актуальном состоянии. <br /><strong>7.3.</strong> Доступ к персональным данным
          Пользователя со стороны третьих лиц, не являющихся сотрудниками Оператора, без согласия
          Пользователя запрещен, за исключением случаев, установленных законодательством Российской
          Федерации. <br /><strong>7.4.</strong>
          Доступ сотрудника Оператора к персональным данным Пользователя прекращается с даты
          прекращения трудовых отношений либо с даты утраты сотрудником права доступа к персональным
          данным Пользователя в связи с изменением должностных обязанностей, должности или иными
          обстоятельствами в соответствии с установленным у Оператора порядком. В случае прекращения
          трудовых отношений все носители с персональными данными Пользователя, которые находились в
          распоряжении увольняемого сотрудника Оператора, передаются вышестоящему по должности
          сотруднику в порядке, установленном Оператором.
          <br /><br /><strong>8.</strong>
          <strong>АКТУАЛИЗАЦИЯ, ИСПРАВЛЕНИЕ, УДАЛЕНИЕ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong>
          <br /><br /><strong>8.1.</strong> Пользователь может в любой момент изменить, обновить,
          дополнить или удалить предоставленные им персональные данные или их часть с помощью
          интерфейса Сервиса. <br /><strong>8.2.</strong> В случае самостоятельного выявления
          Оператором факта неполноты или неточности персональных данных Пользователя Оператор
          принимает все возможные меры по актуализации персональных данных и внесению
          соответствующих исправлений. <br /><strong>8.3.</strong> При невозможности актуализировать
          неполные или неточные персональные данные Пользователя Оператор принимает меры по их
          удалению. <br /><strong>8.4.</strong> При выявлении неправомерности обработки персональных
          данных Пользователя их обработка Оператором прекращается, а персональные данные подлежат
          удалению. <br /><strong>8.5.</strong> В случае неработоспособности интерфейса Сервиса или
          отсутствия функциональной возможности Сервиса для изменения, обновления, дополнения или
          удаления Пользователем персональных данных, а также в любых иных случаях, Пользователь
          вправе в письменной форме требовать от Оператора уточнения его персональных данных, их
          блокирования или уничтожения в случае, если персональные данные являются неполными,
          устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной
          цели обработки. <br /><strong>8.6.</strong> Оператор вносит в персональные данные,
          являющиеся неполными, неточными или неактуальными необходимые изменения в срок, не
          превышающий семи рабочих дней со дня предоставления Пользователем сведений,
          подтверждающих, что персональные данные являются неполными, неточными или неактуальными.
          <br /><strong>8.7.</strong> Оператор уничтожает незаконно полученные или не являющиеся
          необходимыми для заявленной цели обработки персональные данные Пользователя в срок, не
          превышающий семи рабочих дней со дня представления Пользователем сведений, подтверждающих,
          что такие персональные данные являются незаконно полученными или не являются необходимыми
          для заявленной цели обработки. <br /><strong>8.8.</strong> Оператор уведомляет
          Пользователя о внесенных изменениях и предпринятых мерах и принимает разумные меры для
          уведомления третьих лиц, которым персональные данные этого Пользователя были переданы.
          <br /><strong>8.9.</strong> Права Пользователя на изменение, обновление, дополнение или
          удаление персональных данных могут быть ограничены в соответствии с требованиями
          законодательства. Такие ограничения, в частности, могут предусматривать обязанность
          Оператора сохранить измененные, обновленные, дополненные или удаленные Пользователем
          персональные данные на определенный законодательством срок и передать такие персональные
          данные в соответствии с установленной процедурой государственным органам.
          <br /><br /><strong>9.</strong>
          <strong>ОТВЕТЫ НА ЗАПРОСЫ ПОЛЬЗОВАТЕЛЯ НА ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ</strong
          ><strong></strong> <br /><br /><strong>9.1.</strong> Пользователь имеет право на получение
          от Оператора информации, касающейся обработки их персональных данных, в том числе
          содержащей: <br /><strong>9.1.1.</strong> подтверждение факта обработки персональных
          данных Оператором; <br /><strong>9.1.2.</strong> правовые основания и цели обработки
          персональных данных; <br /><strong>9.1.3.</strong> цели и применяемые Оператором способы
          обработки персональных данных; <br /><strong>9.1.4.</strong> наименование и место
          нахождения Оператора, сведения о лицах (за исключением сотрудников Оператора), которые
          имеют доступ к персональным данным или которым могут быть раскрыты персональные данные на
          основании договора с Оператором или на основании федерального закона; <br /><strong
            >9.1.5.</strong
          >
          обрабатываемые персональные данные, относящиеся к соответствующему Пользователю, источник
          их получения, если иной порядок представления таких данных не предусмотрен федеральным
          законом;
          <br /><strong>9.1.6.</strong> сроки обработки персональных данных, в том числе сроки их
          хранения; <br /><strong>9.1.7.</strong> порядок осуществления Пользователем прав,
          предусмотренных Федеральным законом от 27 июля 2006 г. № 152-ФЗ «О персональных данных»;
          <br /><strong>9.1.8.</strong> информацию об осуществленной или о предполагаемой
          трансграничной передаче данных; <br /><strong>9.1.9.</strong> наименование или фамилию,
          имя, отчество и адрес лица, осуществляющего обработку персональных данных по поручению
          оператора, если обработка поручена или будет поручена такому лицу; <br /><strong
            >9.1.10.</strong
          >
          иные сведения, предусмотренные законом. <br /><strong>9.2.</strong> Оператор безвозмездно
          предоставляет возможность ознакомления с обрабатываемыми и хранимыми в информационной
          системе Оператора персональными данными при обращении Пользователя в течение тридцати дней
          с даты получения письменного запроса Пользователя. <br /><strong>9.3.</strong> В случае
          отказа Оператора в предоставлении информации о наличии персональных данных о Пользователе
          или персональных данных Пользователю при его обращении либо при получении запроса
          Пользователя Оператор предоставляет в письменной форме мотивированный ответ, являющийся
          основанием для такого отказа, в срок, не превышающий тридцати дней со дня обращения
          Пользователя либо с даты получения запроса Пользователя. <br /><br /><strong>10.</strong>
          <strong>СВЕДЕНИЯ О РЕАЛИЗУЕМЫХ ТРЕБОВАНИЯХ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong>
          <br /><br /><strong>10.1.</strong> Безопасность персональных данных при их обработке в
          информационной системе обеспечивается с помощью системы защиты персональных данных,
          нейтрализующей актуальные угрозы, определенные в соответствии с частью 5 статьи 19
          Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных». <br /><strong
            >10.2.</strong
          >
          Система защиты персональных данных, применяемая Оператором, включает в себя правовые,
          организационные, технические и другие меры для обеспечения безопасности персональных
          данных, определенные с учетом актуальных угроз безопасности персональных данных и
          информационных технологий, используемых в информационных системах. <br /><strong
            >10.3.</strong
          >
          Применительно к персональным данным, в отношении которых предоставлено согласие
          Пользователя на их обработку третьими лицами, Оператор вправе привлекать на основании
          договора иное лицо, обеспечивающее безопасность персональных данных при их обработке в
          информационной системе.
          <br /><strong>10.4.</strong> При обработке персональных данных в информационной системе
          Оператора последним обеспечивается: <br /><strong>10.4.1.</strong> проведение мероприятий,
          направленных на предотвращение несанкционированного доступа к персональным данным
          Пользователя и/или передачи их лицам, не имеющим права доступа к такой информации;
          <br /><strong>10.4.2.</strong> своевременное обнаружение фактов несанкционированного
          доступа к персональным данным; <br /><strong>10.4.3.</strong>
          недопущение воздействия на технические средства, задействованные в обработке персональных
          данных, в результате которого может быть нарушено их функционирование;
          <br /><strong>10.4.4.</strong> возможность незамедлительного восстановления персональных
          данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
          <br /><strong>10.4.5.</strong> постоянный контроль над обеспечением уровня защищенности
          персональных данных. <br /><strong>10.5.</strong> Для целей соблюдения требований по
          обеспечению безопасности и внедрения системы обеспечения безопасности персональных данных
          Оператором разработана частная модель угроз безопасности информационной системы
          персональных данных. <br /><strong>10.6.</strong> Оператором в соответствии с
          Постановлением Правительства РФ от 01.11.2012 № 1119 «Об утверждении требований к защите
          персональных данных при их обработке в информационных системах персональных данных»
          осуществлено определение уровня защищенности персональных данных при их обработке в
          информационной системе персональных данных, принадлежащей Оператору. <br /><strong
            >10.7.</strong
          >
          Оператором составлен акт определения уровня защищенности персональных данных при их
          обработке в информационной системе персональных данных. <br /><strong>10.8.</strong>
          Оператором на основании акта определения уровня защищенности персональных данных при их
          обработке в информационной системе персональных данных без использования средств
          автоматизации, разработан и внедрен комплекс мер по защите и обеспечению безопасности
          персональных данных. <br /><strong>10.9.</strong> Оператором используются технические
          средства и программное обеспечение для обработки и защиты персональных данных, а также
          ведется журнал учета средств защиты персональных данных. <br /><strong>10.10.</strong>
          Оператором ведется журнал учета и хранения съемных носителей информации, содержащих
          персональные данные. <br /><strong>10.11.</strong> Технические средства, обеспечивающие
          функционирование информационной системы персональных данных, размещаются в помещениях,
          принадлежащих Оператору на праве собственности или ином вещном праве (аренда,
          безвозмездное пользование и т.д.). <br /><strong>10.12.</strong> Все сотрудники Оператора,
          допущенные к работе с персональными данными, а также связанные с эксплуатацией и
          техническим обслуживанием информационной системы персональных данных ознакомлены с
          требованиями настоящей политики, а также с внутренними документами Оператора,
          регулирующими порядок работы с персональными данными. <br /><strong>10.13.</strong>
          Оператором организован процесс обучения сотрудников порядку использования средств защиты
          персональных данных, эксплуатируемых Оператором. Обучение проходят сотрудники, имеющие
          постоянный доступ к персональным данным, и сотрудники, связанные с эксплуатацией и
          техническим обслуживанием информационной системы персональных данных и средств защиты
          персональных данных. <br /><strong>10.14.</strong> Внутренними документами Оператора
          установлено, что сотрудники обязаны незамедлительно сообщать соответствующему должностному
          лицу Оператора об утрате, порче или недостаче носителей информации, содержащих
          персональные данные, а также о попытках несанкционированного разглашения персональных
          данных, его причинах и условиях. <br /><br /><strong>11.</strong>
          <strong>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</strong> <br /><br /><strong
            >11.1.</strong
          >
          Пользователь принимает решение о предоставлении своих персональных данных и дает согласие
          на их обработку свободно, по своей воле и в своем интересе. <br /><strong>11.2.</strong>
          Согласие на обработку персональных данных, предоставленное Пользователем, является
          конкретным, информированным и сознательным. <br /><strong>11.3.</strong> В случае
          обработки персональных данных Пользователя на основании и во исполнение Соглашения,
          регулирующего порядок использования Сервиса, и иных соглашений или договоров, заключаемых
          между Пользователем и Оператором с использованием Сервиса, такая обработка персональных
          данных Пользователя осуществляется на основании пункта 5 статьи 6 Федерального закона от
          27 июля 2006 г. № 152-ФЗ «О персональных данных» и не требует отдельного согласия.
          <br /><strong>11.4.</strong> В случае обработки персональных данных Пользователя на
          основании его отдельного согласия на такую обработку, выражаемого непосредственно при
          использовании Сервиса путем нажатия на соответствующую кнопку или путем проставления
          отметки индикатора соответствующего чек-бокса, то такое согласие на обработку персональных
          данных предоставляется Пользователем в форме электронного документа, подписанного простой
          электронной подписью в соответствии с Соглашением, регулирующим порядок использования
          Сервиса. <br /><strong>11.5.</strong> Согласие на обработку персональных данных может быть
          отозвано Пользователем в соответствии с порядком, установленным законодательством.
          <br /><br /><strong>12.</strong> <strong>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong>
          <br /><br /><strong>12.1.</strong> Начало использования Сервиса Пользователем означает его
          согласие с условиями настоящей политики. В случае несогласия Пользователя с условиями
          настоящей политики использование Сервиса должно быть немедленно прекращено. <br /><strong
            >12.2.</strong
          >
          К настоящей политике и к отношениям между Пользователем и Оператором, возникающим в связи
          с применением настоящей политики, подлежит применению право Российской Федерации.
          <br /><strong>12.3.</strong> Настоящая политика находится в постоянном открытом доступе на
          веб-сайте Оператора по следующей ссылке: http://вашаплатформа.рф/. <br /><strong
            >12.4.</strong
          >
          Все предложения или вопросы по поводу настоящей политики Пользователь вправе направлять в
          службу поддержки Пользователя Оператора путем отправки электронного сообщения на адрес
          электронной почты: komanda@вашаплатформа.рф. <br /><br /><strong>13.</strong>
          <strong>РЕКВИЗИТЫ</strong> <br /><br />
          ООО «ПЛАТФОРМА», ОГРН 1205200008771, ИНН 5263143054, КПП 526301001 <br />Юридический
          адрес: 603096 Нижегородская область, г. Нижний Новгород, ул. Станиславского д. 13, пом. П5
          Оф. 1, <br />Электронная почта: komanda@вашаплатформа.рф <br />
        </div>
      </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
