<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="banner banner--event">
      <div class="container">
        <div class="banner__content">
          <div class="banner__slogan-block">
            <div class="slogan">
              <div class="slogan__left">
                <div class="slogan__logo">
                  <img src="./img/we-horizontal.svg" alt="" class="" />
                </div>
                <div class="slogan__text">
                  В нашем приложении победители <br />
                  определяются по итогам двух <br />
                  критериев: личное участие и <br />
                  деятельность в командах.
                </div>
              </div>
              <div class="slogan__right">
                <div class="slogan__arrow"></div>
              </div>
            </div>
          </div>
          <div class="banner__picture">
            <img src="./img/screen-prizes.png" alt="screenshot" />
          </div>
          <div class="banner__slogan-arrow">
            <div class="slogan__arrow"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="event-section event-section--prizes">
      <div class="container">
        <div class="prizes-block row">
          <div class="col-lg">
            <div class="prizes-block__item">
              <h4 class="prizes-block__title">Командный рейтинг</h4>
              <div class="prizes-block__subtitle">Победители получают денежные призы</div>

              <ul class="prizes-block__list">
                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--warning"></div>
                      ТОП 1
                    </div>
                    <div class="m-l-xl"><span class="bold">1</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">50 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--primary"></div>
                      ТОП 2
                    </div>
                    <div class="m-l-xl"><span class="bold">2</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">40 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 3
                    </div>
                    <div class="m-l-xl"><span class="bold">3</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">30 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 4
                    </div>
                    <div class="m-l-xl"><span class="bold">4</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">25 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 5
                    </div>
                    <div class="m-l-xl"><span class="bold">5</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">20 000 ₽</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg">
            <div class="prizes-block__item">
              <h4 class="prizes-block__title">Личный рейитнг</h4>
              <div class="prizes-block__subtitle">Победители получают сертификаты в магазины</div>

              <ul class="prizes-block__list">
                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--warning"></div>
                      ТОП 1
                    </div>
                    <div class="m-l-xl"><span class="bold">1</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">6 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--primary"></div>
                      ТОП 2
                    </div>
                    <div class="m-l-xl"><span class="bold">2</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">4 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row">
                  <div class="prizes-block__left">
                    <div class="rating">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 3
                    </div>
                    <div class="m-l-xl"><span class="bold">3</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">3 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 4
                    </div>
                    <div class="m-l-xl"><span class="bold">4</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">2 500 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 5
                    </div>
                    <div class="m-l-xl"><span class="bold">5</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">2 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 0
                    </div>
                    <div class="m-l-xl"><span class="bold">6-10</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">1 000 ₽</div>
                  </div>
                </li>

                <li class="prizes-block__row prizes-block__row--default">
                  <div class="prizes-block__left">
                    <div class="rating rating--hidden">
                      <div class="rating-image rating-image--success"></div>
                      ТОП 0
                    </div>
                    <div class="m-l-xl"><span class="bold">11-20</span> место</div>
                  </div>
                  <div class="prizes-block__right">
                    <div class="prizes-block__price">500 ₽</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
