<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="banner banner--scores">
      <div class="container">
        <div class="banner__content">
          <div class="banner__slogan-block">
            <div class="slogan">
              <div class="slogan__left">
                <div class="slogan__logo">
                  <img src="./img/we-horizontal.svg" alt="" class="" />
                </div>
                <div class="slogan__text">Как получить баллы в рейтинг</div>
              </div>
              <div class="slogan__right">
                <div class="slogan__arrow"></div>
              </div>
            </div>
          </div>
          <div class="banner__picture">
            <img src="./img/screen-scores.png" alt="screenshot" />
          </div>
        </div>
      </div>
    </section>

    <section class="event-section event-section--scores">
      <div class="container">
        <h2 class="title title-medium text-success">Личный рейтинг</h2>
        <small class="subtitle subtitle-medium">
          В этом рейтинге участвуют все пользователи, <br />
          зарегистрированные в приложении "МЫ". <br />
          Итоги подводятся ежемесячно.
        </small>
      </div>
      <div class="scores-block">
        <div class="container">
          <div class="row aboutcard aboutcard--comand aboutcard--scores">
            <div class="col-lg">
              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-1.png" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">30 баллов за регистрацию в приложении</div>
                <div class="aboutcard__text">
                  Достаточно просто скачать приложение и зарегистрироваться
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-2.png" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">30 баллов за приглашение друга</div>
                <div class="aboutcard__text">
                  Регистрация в приложении приглашенного тобой пользователя по твоему
                  коду-приглашению, после этого ты будешь получать 30% от заработанных другом баллов
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-3.png" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">1 балл за создание события</div>
                <div class="aboutcard__text">
                  Создавай события и получай баллы за каждое созданное событие
                </div>
              </div>
            </div>
            <div class="col-lg scores-block__picture">
              <div class="">
                <img src="./img/screen-human.png" alt="" />
              </div>
            </div>
            <div class="col-lg">
              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-4.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  10 баллов за отчет в событии <br />
                  с тегом: "Сделай"
                </div>
                <div class="aboutcard__text">
                  Отправляй отчеты в событиях категории "Сделай" и получай баллы за каждый отчет
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-5.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  5 баллов за отчет в <br />
                  событии с тегом: "Участвуй"
                </div>
                <div class="aboutcard__text">
                  Отправляй отчеты в событиях категории "Участвуй" и получай баллы за каждый отчет
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-6.png" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  2 балла за отчет в <br />
                  событии с тегом: "Расскажи"
                </div>
                <div class="aboutcard__text">
                  Отправляй отчеты в событиях категории "Расскажи" и получай баллы за каждый отчет
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="event-section event-section--scores">
      <div class="container">
        <h2 class="title title-medium text-success">Личный рейтинг</h2>
        <small class="subtitle subtitle-medium">
          В этом рейтинге участвуют команды, созданные <br />
          пользователями приложения "МЫ". Организуйте <br />
          события и участвуйте в проектах других команд. <br />
          Пять лучших команд получают гранты от 20 до 50 тысяч рублей.
        </small>
      </div>
      <div class="scores-block">
        <div class="container">
          <div class="row aboutcard aboutcard--comand aboutcard--scores">
            <div class="col-lg blabla">
              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-4.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  10 баллов за отчет в событии "Сделай" твоей команды
                </div>
                <div class="aboutcard__text">
                  Пользователь выложил отчет в событии вашей команды в категории "Сделай"
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-5.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  5 баллов за отчет в событии "Участвуй" твоей команды
                </div>
                <div class="aboutcard__text">
                  Пользователь выложил отчет в событии вашей команды в категории "Участвуй"
                </div>
              </div>
            </div>
            <div class="col-lg scores-block__picture">
              <div class="">
                <img src="./img/img_band.png" alt="" />
              </div>
            </div>
            <div class="col-lg">
              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-6.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  2 балла за отчет в событии <br />
                  "Расскажи" твоей команды
                </div>
                <div class="aboutcard__text">
                  Пользователь выложил отчет в событии вашей команды в категории "Расскажи"
                </div>
              </div>

              <div class="aboutcard__item">
                <div class="aboutcard__picture">
                  <div class="circle">
                    <img class="circle__picture" src="./img/scores-2.svg" alt="" />
                  </div>
                </div>

                <div class="aboutcard__name">
                  10% от баллов, полученных участником вашей команды за отчет в событии другой
                  команды
                </div>
                <div class="aboutcard__text">
                  Участник вашей команды принял участие и выложил отчет в проекте другой команды
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
