<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="section-text wsblock">
      <div class="container">
        <div class="wsblock">
          <h1 class="wsblock">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>
        </div>
        <div class="wsblock__text">
          <h3>Город Нижний Новгород</h3>
          <h3>Одиннадцатое декабря две тысячи девятнадцатого года</h3>
          <p>
            Настоящее пользовательское соглашение (далее – Соглашение) в соответствии со статьями
            <b>428, 437</b> и <b>1286</b> Гражданского кодекса РФ является соглашением между любым
            физическим или юридическим лицом, в том числе индивидуальным предпринимателем,
            выразившим согласие с изложенными в настоящем Соглашении условиями указанным способом
            (далее – Пользователь), и обществом с ограниченной ответственностью «ПЛАТФОРМА» (далее –
            Администрация). Совершение Пользователем конклюдентных действий, направленных на
            использование Сервиса в силу статьи 1286 Гражданского кодекса РФ считается безусловным
            принятием (акцептом) данного Соглашения. Настоящее Соглашение наряду с политикой
            Администрации о конфиденциальности и обработке персональных данных, иными
            дополнительными условиями и правилами, которые касаются использования Сервиса и
            представлены на веб-сайте Сервиса, содержат условия и положения, действие которых
            распространяется на каждого посетителя или Пользователя Сервиса и его компонентов, в том
            числе расположенных на веб-сайте Сервиса. Используя Сервис, Пользователь выражает свое
            согласие с данными условиями. Если Пользователь не согласен с каким-либо из условий,
            Пользователь должен прекратить использование Сервиса.
          </p>
          <h3>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h3>
          <p>
            <b>1.1.</b> Стороны договорились, что следующие ниже термины и определения для целей
            настоящего Соглашения будут иметь следующее значение: «Администрация» – ­­­­­­­­­­
            общество с ограниченной ответственностью «ПЛАТФОРМА», ОГРН 1205200008771, ИНН
            5263143054, КПП 526301001, юридический адрес: 603096 Нижегородская область, г. Нижний
            Новгород, ул. Станиславского д. 13, пом. П5 Оф. 1, являющееся правообладателем
            исключительных прав на Сервис. «Пользователь» – любое физическое или юридическое лицо, в
            том числе индивидуальный предприниматель, выразившее согласие с изложенными в настоящем
            Соглашении условиями путем совершения указанных в Соглашении конклюдентных действий,
            направленных на использование Сервиса. «Сервис» – вебмобильное приложение для устройств
            под управлением операционных систем Google Android и Apple iOS, представляющее собой
            компьютерную программу для управления мероприятиями и событиями. Сервис включает в себя
            совокупность информации, других компьютерных программ, баз данных, программных кодов,
            лежащих в их основе ноу-хау, алгоритмов, элементов дизайна, шрифтов, логотипов, а также
            текстовых, графических и иные материалов, а также прочих результатов интеллектуальной
            деятельности. «Пользовательская документация» – электронные документы, размещенные как
            непосредственно в интерфейсе Сервиса, так и на веб-сайте Администрации по адресу
            <a href="http://вашаплатформа.рф/" target="_blank">http://вашаплатформа.рф/</a>
            содержащие описание Сервиса, руководство по его эксплуатации и иные информационные
            материалы. «Версия Сервиса» – фиксированное состояние реализации Сервиса на конкретную
            дату, которому присваивается символическое обозначение в виде номера. Изменение версии
            осуществляется в случаях существенных изменений в Сервисе, то есть связанных с
            качественным изменением алгоритмов реализации функционала или переходом на новые
            программно-технические платформы (мажорное обновление). Версия Сервиса присваивается
            Администрацией. Примеры обозначения версии: - v. 1.0 (v - признак, «1» - первая
            реализация, «0» - изменения не проводились. В качестве разделителей используется символ
            «точка»); - v. 05.01.2.0 (v - признак, «05» - год реализации, «01» - месяц в году
            реализации, «2» - вторая реализация, «0» - изменения не проводились. В качестве
            разделителей используется символ «точка»). «Релиз версии Сервиса» – фиксированное
            состояние изменений в Сервисе, связанных с исправлением выявленных ошибок
            функционирования Сервиса (замечаний) или реализацией дополнительных требований
            (предложений), не приводящих к изменению идеологии разработки Сервиса в конкретной ее
            версии (минорное обновление). Обозначение релиза версии Сервиса присваивается
            Администрацией и обозначается дополнительными символами. Примеры обозначения релиза к
            версии: - v. 1.1 или v. 1.22 (для версии v. 1.0 проведено изменение 1 или изменение 22
            соответственно); - v. 05.01.2.5 (для версии v. 05.01.2.0 проведено изменение 5).
            «Регистрация» – процедура, в ходе которой Пользователь предоставляет достоверные данные
            о себе по утвержденной Администрацией форме, а также создает логин и пароль. Регистрация
            считается завершенной только в случае успешного прохождения Пользователем всех ее
            этапов, включая активацию, осуществляемую переходом по уникальной ссылке, отправляемой
            на адрес электронной почты, указанной Пользователем. «Учетная запись», или «Личный
            кабинет» – набор записей в базе данных Администрации, идентифицирующая Пользователя
            учетными данными, указанными им при регистрации, и позволяющая осуществлять управление
            параметрами Сервиса и доступных с помощью Сервиса услуг. «Учетные данные», или «Логин и
            пароль» – набор символов, используемых для идентификации Пользователя при осуществлении
            им доступа к учетной записи. «Регистрационные данные Пользователя» – данные, добровольно
            указанные или загруженные Пользователем при прохождении Регистрации и при дальнейшем
            использовании Сервиса. Данные хранятся в базе данных Администрации и подлежат
            использованию исключительно в соответствии с настоящим Соглашением и действующим
            российским и международным законодательством. «Авторизация» – процедура, при которой
            Пользователь вводит свои логин и пароль в специально отведенные поля в форме интерфейса
            Сервиса с целью его идентификации и определения достоверности полномочий на доступ к
            Личному кабинету и полному функционалу Сервиса. Вместо логина и пароля Пользователь
            может использовать авторизацию через сторонний веб-сервис (например, социальные сети). В
            таком случае для авторизации в Сервисе используется уникальный токен, сформированный
            сторонним веб-сервисом при авторизации в нем Пользователя, подтверждающий подлинность
            авторизации. «Токен» – уникальный набор символов, идентифицирующий Пользователя в
            аккаунтах сторонних веб-сервисов. Токен позволяет осуществить авторизованное подключение
            к Сервису с использованием авторизации через сторонние веб-сервисы (например, социальные
            сети). «SMS-сообщения» – (Short Message Service – перевод с англ.: служба коротких
            сообщений) средство связи, технология, позволяющая осуществлять прием и передачу
            коротких текстовых сообщений (SMS-сообщений) при помощи мобильного телефона. «Условия
            использования» – совокупность соглашений между Пользователем и Администрацией включающее
            в себя настоящее Соглашение, Политику конфиденциальности, а также иные соглашения, в
            которых отдельно оговорено, что они входят в Условия использования Сервисом. «Стандарт
            PCI DSS» – (Payment Card Industry Data Security Standard) стандарт защиты информации,
            разработанный Международными Платежными Системами и используемый их участниками при
            обмене информацией в рамках проведения операций, совершенных с использованием банковских
            карт. PCI DSS объединяет в себе требования ряда программ по защите информации, в
            частности: - Visa: Account Information Security (AIS); - MasterCard: Site Data
            Protection (SDP); - JCB: Data Security Program (DSP); - МИР: Правила платежной системы
            «Мир» (МИР.05.141.0-20.00.00). «Персональные данные» – любая информация, относящаяся к
            определенному или определяемому на основании такой информации физическому лицу (субъекту
            персональных данных), в том числе его фамилия, имя, отчество, год, месяц, дата и место
            рождения, адрес, адрес электронной почты, телефонный номер, семейное, социальное,
            имущественное положение, образование, профессия, доходы, другая информация. «Счетчик» –
            часть Сервиса, компьютерная программа, использующая фрагмент кода, как правило на
            JavaScript, установленный на веб-сайте, отвечающий за анализ файлов «cookie» и сбор
            статистических и персональных данных этого веб-сайта. Администрация может использовать
            счетчики как собственной разработки, так и предоставленные третьими лицами на условиях
            ограниченной лицензии (лицензионного соглашения), например, Google Analytics,
            Яндекс.Метрика и иные аналогичные счетчики. Счетчики осуществляют сбор персональных
            данных в обезличенном виде. «IP-адрес» – номер из ресурса нумерации сети передачи
            данных, построенной на основе протокола IP (RFC 791), однозначно определяющий при
            оказании телематических услуг связи, в том числе доступа к сети Интернет, абонентский
            терминал (компьютер, смартфон, планшет, иное устройство) или средства связи, входящие в
            информационную систему и принадлежащие Пользователю. «Кэш» – расположенное на устройстве
            Пользователя промежуточное хранилище данных, получаемых от веб-сайта Сервиса и
            запрашиваемых чаще других с наибольшей вероятностью, доступ к которым из кэша возможен с
            гораздо большей скоростью, чем выборка исходных данных из удаленного источника
            (например, удаленного сервера или веб-сайта). «Файлы «cookie», «cookie» – небольшой
            фрагмент данных, отправленный веб-сервером и хранимый на устройстве пользователя
            веб-сайта, на котором установлен Счетчик. Файлы «cookie» содержат небольшие фрагменты
            текста и используются для хранения информации о работе браузеров. Они позволяют хранить
            и получать идентификационные сведения и другую информацию на компьютерах, смартфонах,
            телефонах и других устройствах. Спецификации файлов «cookie» описаны в документах RFC
            2109 и RFC 2965. Для этих же целей используются другие технологии, в том числе данные,
            сохраняемые браузерами или устройствами, идентификаторы, связанные с устройствами, и
            другое программное обеспечение. В настоящем Соглашении все эти технологии называются
            файлами «cookie». «Веб-маяки» – изображения в электронной форме (одно-пиксельные (1x1)
            или пустые GIF-изображения). Веб-маяки способны помочь Оператору распознавать
            определенные типы информации на устройстве Пользователя, например, файлы «cookie», время
            и дату просмотра страницы и описание страницы, где размещен веб-маяк. «Мессенджер» –
            информационная система и/или компьютерная программа (мобильное приложение, веб-сервис,
            веб-приложение и т.п.), которые предназначены и/или используются для приема, передачи,
            доставки и/или обработки электронных сообщений пользователей сети Интернет (например,
            <b>Skype, WhatsApp, Viber</b> и т.п.). «Контрольная сумма» – некоторое значение
            (последовательность символов), рассчитанное по набору данных путем применения
            определенного алгоритма, используемое в рамках настоящего Соглашения для проверки
            целостности (аутентичности) электронных файлов при их передаче или хранении. Для целей
            настоящего Соглашения расчет и проверка Контрольных сумм осуществляются путем применения
            алгоритмов MD5 и SHA256. 1.2. Все остальные термины и определения, встречающиеся в
            тексте Соглашения, толкуются Сторонами в соответствии с законодательством Российской
            Федерации, действующими рекомендациями (RFC) международных органов по стандартизации в
            сети Интернет и сложившимися в сети Интернет обычными правилами толкования
            соответствующих терминов. Кроме того, в настоящем Соглашении используются термины из:
            ГОСТ Р ИСО 9241-151-2014, ГОСТ Р ИСО 9241-161-2016, ГОСТ 7.83-2001, ГОСТ 7.4-95, ГОСТ
            7.9-95 (ИСО 214-76), ГОСТ 7.60-2003, ГОСТ 7.82-2001, ГОСТ Р 56824-2015, ГОСТ Р
            55386-2012, ГОСТ Р 56823-2015, ГОСТ Р 53632-2009, ГОСТ Р 56826-2015, ГОСТ Р 5886-2018,
            ГОСТ Р 58223-2018, ГОСТ Р ИСО/МЭК 24730-1-2017. 1.3. Термины и определения, используемые
            в настоящем Соглашении, могут быть использованы как в единственном, так и во
            множественном числе в зависимости от контекста, написание терминов может быть
            использовано как с заглавной буквы, так и с прописной. 1.4. Названия заголовков
            (статей), а также конструкция Соглашения предназначены исключительно для удобства
            пользования текстом Соглашения и буквального юридического значения не имеют.
          </p>
          <h3>2. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>
          <p>
            <b>2.1.</b> Настоящее Соглашение регулирует отношения между Пользователем, с одной
            стороны, и Администрацией с другой стороны, по предоставлению Пользователю права
            использования Сервиса, а также регламентирует порядок использования Сервиса и оказания
            Администрацией услуг.
            <br />
            <b>2.2.</b>
            В соответствии с настоящим Соглашением Администрация предоставляет права пользования
            Сервисом в соответствии с его назначением и функционалом, описанными в пользовательской
            документации Сервиса, в том числе для: - управления событиями и мероприятиями; -
            ознакомления с информацией о событиях и мероприятиях, размещенной другими пользователями
            Сервиса, в том числе статистического и исследовательского характера; - получение
            информации, мотивирующей к участию в событиях и мероприятиях, размещенной другими
            пользователями Сервиса; - получения информационных и рекламных сообщений, в том числе
            путем подписки на их рассылку по электронной почте, путем направления SMS-сообщений или
            PUSH-уведомлений, в том числе от партнеров Администрации; - иных возможностей,
            предусмотренных настоящим Соглашением и функционалом Сервиса.
            <br />
            <b>2.3.</b>
            В целях исполнения своих обязательств по настоящему соглашению Администрация вправе
            привлекать к исполнению Соглашения третьих лиц без согласования с Пользователем.
          </p>
          <h3>3. ИНТЕЛЛЕКТУАЛЬНЫЕ ПРАВА НА СЕРВИС</h3>
          <p>
            <b>3.1.</b> Сервис, его составляющие и отдельные компоненты (в том числе, но не
            ограничиваясь: компьютерные программы, базы данных, программные коды, лежащие в их
            основе ноу-хау, алгоритмы, элементы дизайна, шрифты, логотипы, а также текстовые,
            графические и иные материалы) являются объектами интеллектуальной собственности,
            охраняемой в соответствии с российским и международным законодательством, любое
            использование которых допускается только на основании разрешения Администрации.
            <br />
            <b>3.2.</b>
            Администрация настоящим предоставляет Пользователю на весь срок действия настоящего
            Соглашения простую (неисключительную), отзывную, ограниченную лицензию на использование
            Сервиса без ограничения территории ее действия и не подлежащую передаче или уступке
            третьим лицам. Такая простая (неисключительная) лицензия предназначена для того, чтобы
            обеспечить Пользователю возможность использования Сервиса в соответствии с его
            назначением с учетом ограничений, предусмотренных настоящим Соглашением.
            <br />
            <b>3.3.</b>
            Отзыв лицензии, предоставленной в соответствии с настоящим Соглашением, осуществляется в
            порядке, установленном законодательством для отказа от исполнения от лицензионного
            договора.
            <br />
            <b>3.4.</b>Право использования Сервиса включает в себя право на воспроизведение Сервиса
            или отдельных участков его кода на конечном устройстве Пользователя (компьютере,
            смартфоне, планшете и т.д.) с целью кэширования и запуск с помощью средств целевой
            операционной системы с целью использования Сервиса в соответствии с его назначением.
            <br />
            <b>3.5.</b>
            Право использования Сервиса включает в себя право изготовить его копию для архивных
            целей, поскольку использование Сервиса осуществляется с установкой на локальном конечном
            устройстве Пользователя.
            <br />
            <b>3.6. </b>
            Использование Сервиса в соответствии с настоящим Соглашением допускается одновременно на
            неограниченном количестве устройств Пользователя.
            <br />
            <b>3.7.</b>
            Использование Сервиса в соответствии с настоящим Соглашением может иметь также иные
            ограничения в функциональности, указанные в пользовательской документации Сервиса.
            <br />
            <b>3.8.</b>
            Предоставленное Пользователю по настоящему Соглашению право использования Сервиса
            предполагает право на получение регулярных обновлений Сервиса в пределах одной версии
            (минорные обновления текущего релиза, не являющиеся новой версией) и новых версий
            Сервиса (мажорные обновления – новые релизы, являющиеся новой версией), при их наличии.
            <br />
            <b>3.9.</b> Пользователь соглашается, что не вправе (в том числе не вправе разрешать
            кому-либо) изменять, создавать производные работы, разбирать Сервис на составляющие
            коды, декомпилировать или иным образом пытаться получить исходный программный код
            Сервиса или любой его части, за исключением случаев, когда есть письменное разрешение
            Администрации на совершение таких действий. В противном случае, Пользователь несет
            полную ответственность за подобные действия, предусмотренную настоящим Соглашением, а
            также международным и российским законодательством.
            <br />
            <b>3.10.</b> Настоящее Соглашение не предусматривает передачу прав на интеллектуальную
            собственность Администрации (либо ее часть), за исключением ограниченной лицензии,
            которая предоставляется на основании настоящего Соглашения. Никакие положения настоящего
            Соглашения не являются уступкой прав на интеллектуальную собственность Администрации или
            отказом от данных прав на основании законодательства.
            <br />
            <b>3.11.</b> Сервис содержит или может содержать компьютерные программы, которые
            лицензируются (или сублицензируются) Пользователю в соответствии с общедоступной
            лицензией GNU или иными аналогичными лицензиями Open Source, которые помимо прочих прав
            разрешают Пользователю копировать, модифицировать, перераспределять определенные
            компьютерные программы или их части и получать доступ к исходному коду. Если такая
            лицензия предусматривает предоставление исходного кода пользователям, которым
            компьютерная программа предоставляется в формате исполняемого двоичного кода (объектного
            кода), исходный код делается доступным при осуществлении запроса на адрес электронной
            почты Администрации. Если какая-либо лицензия на компьютерные программы с открытым
            исходным кодом требует, чтобы Администрация предоставляла права на использование,
            копирование или модификацию компьютерных программ с открытым исходным кодом, выходящие
            за рамки прав, предоставляемых настоящим Соглашением, такие права имеют преимущественную
            силу над правами и ограничениями, оговоренными в настоящем Соглашении.
          </p>
          <h3>4. ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ АДМИНИСТРАЦИИ, ГАРАНТИИ</h3>
          <p>
            <b>4.1.</b> Администрация гарантирует, что обладает всеми законными основаниями для
            предоставления Пользователю права использования Сервиса по настоящему Соглашению. Все
            права на Сервис и его составляющие компоненты принадлежат Администрации, либо иным
            правообладателям, предоставившим Администрации неисключительную лицензию с возможностью
            сублицензирования, в том числе на условиях открытой лицензии (GPL, LGPL, AGPL, BSD и
            т.д.). <br /><b>4.2.</b> Администрация обязуется приложить все разумные усилия по
            обеспечению стабильной работы Сервиса, постепенному его совершенствованию, исправлению
            ошибок в работе Сервиса, однако, Сервис предоставляется Пользователю по принципу «как
            есть». Это означает, что Администрация: <br /><b>4.3.</b> не гарантирует отсутствие
            ошибок в работе Сервиса; <br /><b>4.4.</b> не несет ответственность за бесперебойную
            работу Сервиса и его совместимость с программным обеспечением и техническими средствами
            Пользователя и иных лиц; <br /><b>4.5.</b> не несет ответственность за причинение любых
            убытков, которые возникли или могут возникнуть в связи с или при использовании Сервисом;
            <br /><b>4.6.</b> не несет ответственность за неисполнение либо ненадлежащее исполнение
            своих обязательств вследствие сбоев в телекоммуникационных и энергетических сетях,
            действий вредоносных программ, а также недобросовестных действий третьих лиц,
            направленных на несанкционированный доступ и(или) выведение из строя программного и(или)
            аппаратного комплекса Администрации. <br /><b>4.7.</b> Администрация вправе предоставить
            Пользователю доступ к Сервису и поддерживать Сервис в рабочем состоянии, а также вправе
            приостанавливать предоставление доступа к Сервису на время, необходимое для проведения
            планово-профилактических и восстановительных работ на оборудовании без предварительного
            уведомления Пользователя. Кроме того, Администрация вправе приостановить доступ
            Пользователя к Сервису при выявлении факта предоставления при регистрации или
            использовании Сервиса недостоверной информации о себе. <br /><b>4.8.</b> Пользователь
            соглашается с тем, что Администрация вправе использовать предоставленные Пользователем
            при регистрации данные в целях проведения общественных, социальных, политических,
            маркетинговых и иных мероприятий, связанных с Сервисом, а также направлять на
            предоставленный Пользователем электронный почтовый адрес и(или) путем оповещения
            SMS-сообщениями на предоставленный Пользователем номер мобильного телефона, размещать в
            пространстве, ограниченном доступом Пользователя (Личном кабинете), рекламные и
            информационные сообщения, политическую агитацию по своему усмотрению, в том числе
            автоматически генерируемые Сервисом. Данный пункт Стороны договорились считать
            предварительным согласием Пользователя на получение рекламы в соответствии со статьей 18
            Федерального закона от 13.03.2006 № 38-ФЗ «О рекламе». <br /><b>4.9.</b> Администрация
            оставляет за собой право путем звонков и отправления SMS-сообщений, обращаться к
            Пользователю в целях проверки качества работы Сервиса и сообщения критически важной для
            Пользователя информации. <br /><b>4.10.</b> Администрация оставляет за собой право
            запросить электронные копии документов для идентификации Пользователя. Администрация
            также обязана предоставить достоверную контактную информацию о Пользователе по запросу
            регистрационных учреждений или правоохранительных органов в соответствии с
            законодательством. <br /><b>4.11.</b> Администрация обязуется обеспечить
            конфиденциальность и сохранность всех данных, полученных от Пользователя, кроме случаев,
            когда такое разглашение произошло по не зависящим от Администрации причинам, а также за
            исключением случаев, предусмотренных действующим международным и российским
            законодательством. <br /><b>4.12.</b> Администрация обязуется осуществлять техническую
            поддержку Пользователя в форме письменной консультации по вопросам, имеющим отношение к
            функционированию и использованию Сервиса. Техническая поддержка предоставляется только
            по официальному запросу Пользователя, совершенному способами, предусмотренными в
            настоящем Соглашении для обмена уведомлениями, сообщениями и документами. Консультация
            специалиста может быть предоставлена только по вопросам, имеющим отношение к
            функционированию и использованию Сервиса. Не предоставляются консультации по вопросам,
            не имеющим отношения к работе Сервиса.
          </p>
          <h3>5. ОБЩИЕ ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ, ГАРАНТИИ</h3>
          <p>
            <b>5.1.</b>
            Пользователь – физическое лицо гарантирует, что:

            <br /><b>5.1.1.</b> Ему исполнилось 18 (восемнадцать) лет или он достиг иного возраста
            совершеннолетия, предусмотренного на территории его юрисдикции, и обладает
            правоспособностью заключать настоящее Соглашение, имеющее обязательную юридическую силу,
            от собственного имени, либо от имени физического или юридического лица, в интересах
            которого он заключает настоящее Соглашение. <br /><b>5.1.2.</b> Понимает, что
            Администрация не предоставляет юридических консультаций и рекомендаций относительно
            законодательства или требований, действие которых распространяется на Пользователя, либо
            на конечных пользователей, а также относительно соблюдения Пользователем действующего
            законодательства и требований. <br /><b>5.1.3.</b> Пользователь получил все необходимые
            согласия и разрешения, предусмотренные действующим законодательством, для размещения,
            передачи и публикации личных данных и(или) изображений физических или юридических лиц,
            которые являются частью персональных регистрационных данных Пользователя. Пользователь
            обязуется соблюдать все соответствующие требования и ограничения законодательства в их
            отношении.
          </p>
          <h3>
            5.2. Пользователь – юридическое лицо, в том числе индивидуальный предприниматель,
            гарантирует, что:
          </h3>
          <p>
            <br /><b>5.2.1.</b> Принятие (акцепт) настоящего Соглашения не требует одобрения
            органами управления Пользователя, иного согласования или соблюдения специального порядка
            совершения сделок в соответствии с требованиями законодательства Российской Федерации и
            учредительных документов Пользователя, поскольку совершение сделки по акцепту настоящего
            Соглашения является сделкой, не выходящей за пределы обычной хозяйственной деятельности
            Пользователя. <br /><b>5.2.2.</b> Обладает необходимой право- и дееспособностью для
            принятия (акцепта) и исполнения настоящего Соглашения, у него не отозвана (не
            аннулирована) лицензия, необходимая для осуществления основного вида деятельности, как
            юридического лица, срок действия лицензии не истек, либо основной вид деятельности,
            осуществляемый Пользователем, не подлежит лицензированию. <br /><b>5.2.3.</b> Вся
            информация и документы, предоставленные Пользователем Администрации в связи с принятием
            (акцептом) и исполнением настоящего Соглашения, являются достоверными. Пользователь не
            скрыл обстоятельств, которые могли бы при их обнаружении негативно повлиять на решение
            Администрации, касающееся действия настоящего Соглашения и его исполнения. <br /><b
              >5.2.4.</b
            >
            Принятие (акцепт) настоящего Соглашения не нарушает никаких прав и обязанностей
            Пользователя перед третьими лицами. <br /><b>5.2.5.</b> Не участвует и не связан
            каким-либо образом ни с одной сделкой или иным обязательством, по которым он находится в
            ситуации невыполнения своих обязательств, или обязан досрочно выполнить свои
            обязательства, или участие в которых может негативно повлиять на способность
            Пользователя выполнить взятые им по настоящему Соглашению обязательства, о которых
            Администрация не был информирована Пользователем. <br /><b>5.2.6.</b>
            Получил все необходимые согласия и разрешения, предусмотренные действующим
            законодательством, для обработки персональных данных и(или) изображений физических лиц,
            которые потребуется обрабатывать в процессе исполнения настоящего Соглашения.
            Пользователь обязуется соблюдать все соответствующие требования и ограничения
            законодательства в их отношении.
          </p>
          <h3>5.3. Права Пользователя:</h3>

          <p>
            <strong>5.3.1.</strong> Пользователь имеет право использовать Сервис не запрещенными
            настоящим Соглашением и действующим международным и российским законодательством
            способами в соответствии с его назначением и в пределах его функционала.<br />
            <strong>5.3.2. </strong>В случае возникновения в работе Сервиса проблем технического
            характера, а также в случае получения Пользователем сообщений, являющихся
            несанкционированной рекламной рассылкой, либо содержащих запрещенные настоящим
            Соглашением материалы, в том числе угрозы или файлы с подозрением на вирус, а также если
            Пользователь обнаруживает факты, дающие основания полагать, что его доступ к Сервису был
            использован кем-либо несанкционированно, Пользователь имеет право обратиться к
            Администрации для выяснения ситуации и принятия необходимых мер.<br />
            <strong>5.3.3.</strong> Пользователь имеет право обращаться в техническую поддержку по
            указанным в настоящем Соглашении вопросам, касающимся Сервиса.<br />
            <strong>5.3.4. </strong>Пользователь имеет право на обеспечение сохранности своих
            персональных данных, настолько, насколько это зависит от Администрации в соответствии с
            действующим международным и российским законодательством.<br />
            <strong>5.3.5.</strong> Пользователь имеет право в любой момент отказаться от звонков,
            получения SMS-сообщений и иных информационных рекламных рассылок, сообщив об этом
            Администрации.
          </p>

          <h3>5.4. Обязанности Пользователя:</h3>
          <p>
            <strong>5.4.1.</strong> При использовании Сервиса Пользователь обязуется не нарушать
            интеллектуальные права Администрации.<br />
            <strong>5.4.2.</strong> Пользователь ответственен за хранение логина и пароля вне
            доступа третьих лиц и своевременную их смену в случае утери или иной необходимости.<br />
            <strong>5.4.3. </strong>При использовании Сервиса Пользователь обязуется иметь все
            необходимые разрешения и полномочия от владельцев данных, которые он использует при
            работе с Сервисом в соответствии с его назначением, в частности иметь все необходимые
            согласия и разрешения, предусмотренные действующим законодательством, для обработки
            персональных данных физических лиц, которые может потребоваться обрабатывать в процессе
            использования Сервиса. Пользователь обязуется соблюдать все соответствующие требования и
            ограничения законодательства в их отношении.<br />
            <strong>5.4.4. </strong>В случае необходимости Пользователь при обработке данных,
            подпадающих под регулирование Федерального закона от 27.07.2006 № 152-ФЗ &laquo;О
            персональных данных&raquo; и попадающих в категорию персональных данных, до начала
            обработки таких персональных данных обязан уведомить уполномоченный орган по защите прав
            субъектов персональных данных о своем намерении осуществлять обработку персональных
            данных. Указанное уведомление направляется Пользователем самостоятельно.<br />
            <strong>5.4.5.</strong> Пользователь несет ответственность перед Администрацией за
            предоставление достоверной и актуальной контактной и регистрационной информации о себе
            при использовании Сервиса. В случае изменения указанных данных, Пользователь обязан
            сообщить об этом Администрации путем самостоятельного изменения своих данных.<br />
            <strong>5.4.6.</strong> Пользователь соглашается никогда и ни при каких обстоятельствах
            не использовать Сервис для осуществления действий, запрещенных или ограниченных
            международным и российским законодательством.<br />
            <strong>5.4.7.</strong> Присоединяясь к настоящему Соглашению, Пользователь обязуется не
            наносить ущерб Сервису, программной оболочке, техническим и программным средствам,
            узловым машинам Администрации.<br />
            <strong>5.4.8. </strong>Пользователь обязан не наносить ущерб Сервису в процессе его
            использования, а также техническим и программным средствам, узловым машинам
            Администрации или иных лиц, обеспечивающих функционирование Сервиса, в том числе путем
            направления на их IP-адреса многочисленных запросов, вызывающих DDoS-атаку и ошибку типа
            &laquo;отказ в обслуживании&raquo;.<br />
            <strong>5.4.9. </strong>Пользователь соглашается с тем, что возместит Администрации
            любые убытки, понесенные Администрацией в связи с использованием Пользователем Сервиса c
            нарушением Пользователем настоящего Соглашения и прав (в том числе интеллектуальных,
            информационных и т.д.) третьих лиц.<br />
            <strong>5.4.10. </strong>Пользователь признает и соглашается, что IP-адрес устройства
            Пользователя фиксируется техническими средствами Администрации, и в случае совершения
            незаконных действий, в том числе действий, нарушающих интеллектуальные права третьих
            лиц, ответственным за указанные незаконные действия признается владелец устройства,
            определяемого техническими средствами Администрации по принадлежности IP-адреса.
          </p>
          <h3></h3>
        </div>
      </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
