<!DOCTYPE html>
<html lang="ru">
  @@include("./template/head.html")
  <body>
    @@include("./template/header.html")
    <section class="section-text">
        <div class="container">
            <h1>lorem</h1>
            <p class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi neque iste animi sit debitis tempora ipsum. Rem inventore, praesentium ex sapiente, culpa soluta perspiciatis ipsam, voluptatum illum ullam natus cumque.
            </p>
        </div>
    </section>
    @@include("./template/subscribe.html") @@include("./template/footer.html")
    @@include("./template/scripts.html")
  </body>
</html>
